Repository Qiskit/qiskit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Qiskit/terra-core, @Eric-Arellano, @woodsp-ibm, @ElePT, @Cryoris, @ajavadia, @javabster, @HuangJunye, @ikkoham, @jyu00, @mtreinish, @nkanazawa1989, @t-imamichi, @levbishop, @eggerdj, @wshanks, @alexanderivrii, @ShellyGarion, @nonhermitian, @kevinhartman

Add QPY support for `switch` statement
  qiskit/qpy/__init__.py
  qiskit/qpy/binary_io/circuits.py
  qiskit/qpy/binary_io/value.py
  qiskit/qpy/common.py
  qiskit/qpy/type_keys.py
  test/python/circuit/test_circuit_load_from_qpy.py
  test/qpy_compat/test_qpy.py
Owners: @Qiskit/terra-core, @mtreinish, @nkanazawa1989

Catch deprecation warnings in tests
  test/python/transpiler/test_bip_mapping.py
Owners: @Qiskit/terra-core

Fix lint
  qiskit/transpiler/passes/routing/algorithms/bip_model.py
  qiskit/transpiler/passes/routing/bip_mapping.py
Owners: @Qiskit/terra-core, @woodsp-ibm, @ElePT

Use QiskitTestCase ignore mechanism
  test/python/visualization/timeline/test_generators.py
Owners: @Qiskit/terra-core, @nonhermitian

Fix CheckMap pass target handling
  qiskit/transpiler/passes/utils/check_map.py
  qiskit/transpiler/preset_passmanagers/common.py
  qiskit/transpiler/preset_passmanagers/level1.py
  test/python/transpiler/test_check_map.py
  test/python/visualization/references/pass_manager_standard.dot
  test/python/visualization/references/pass_manager_style.dot
Owners: @Qiskit/terra-core, @nonhermitian

Turn off Qiskit Bot notifications for code owners
  qiskit_bot.yaml
Owners: @Qiskit/terra-core

Adding some test cases
  test/python/synthesis/test_cx_cz_synthesis.py
Owners: @Qiskit/terra-core, @alexanderivrii, @ShellyGarion

fix: modify get_param_str to prevent circuit drawer from displaying params of type QuantumCircuit
  qiskit/visualization/circuit/_utils.py
Owners: @Qiskit/terra-core, @nonhermitian

fix lint errors
  qiskit/visualization/circuit/_utils.py
Owners: @Qiskit/terra-core, @nonhermitian

Review comments
  qiskit/qpy/__init__.py
  qiskit/qpy/formats.py
  qiskit/qpy/type_keys.py
Owners: @Qiskit/terra-core, @mtreinish, @nkanazawa1989

get_qubit_groups
  qiskit/transpiler/measuregrouping.py
Owners: @Qiskit/terra-core

generate_schedule
  qiskit/pulse/macros.py
Owners: @Qiskit/terra-core, @eggerdj, @wshanks, @nkanazawa1989

target.add_measuregrouping in backend_compat
  qiskit/providers/backend_compat.py
  qiskit/transpiler/__init__.py
  qiskit/transpiler/measuregrouping.py
  qiskit/transpiler/target.py
Owners: @Qiskit/terra-core, @jyu00

.github/CODEOWNERS:

# This file defines the set of people responsible for different sections of the
# Qiskit code.
#
# Being listed as a code owner on a section here means that user is empowered
# to approve and merge pull requests for that section of code. It also comes
# with an expected responsibility to review and maintain those subsections of
# the repository.
#
# The @Qiskit/terra-core team is the group who're responsible for the
# entire qiskit-terra project and are empowered to approve merge code in any
# part of the repository. Any member of the terra-core group should not be
# listed in this file as it's redundant.
#
# A PR can be merged when approved by at least one codeowner. For PRs that touch
# more than one section with non-overlapping codeowners more than one codeowner
# may be required to approve a PR.
#
# However, every contributor to Qiskit can (and should!) review open PRs. This
# file is just about outlining responsibility for maintainership and final
# review/merging of PRs in different subsections of the repository.

# Global rule, unless specialized by a later one
* @Qiskit/terra-core

# Qiskit folders (also their corresponding tests)
.azure/                @Qiskit/terra-core @Eric-Arellano
.github/               @Qiskit/terra-core @Eric-Arellano
algorithms/            @Qiskit/terra-core @woodsp-ibm @ElePT
circuit/library/       @Qiskit/terra-core @Cryoris @ajavadia
docs/                  @Qiskit/terra-core @javabster @HuangJunye @Eric-Arellano
opflow/                @Qiskit/terra-core @woodsp-ibm @ikkoham @Cryoris
qiskit/utils/          @Qiskit/terra-core @woodsp-ibm
providers/             @Qiskit/terra-core @jyu00
quantum_info/          @Qiskit/terra-core @ikkoham
qpy/                   @Qiskit/terra-core @mtreinish @nkanazawa1989
primitives/            @Qiskit/terra-core @ikkoham @t-imamichi @ajavadia @levbishop
pulse/                 @Qiskit/terra-core @eggerdj @wshanks @nkanazawa1989
synthesis/             @Qiskit/terra-core @alexanderivrii @ShellyGarion
scheduler/             @Qiskit/terra-core @eggerdj @wshanks @nkanazawa1989
visualization/         @Qiskit/terra-core @nonhermitian
visualization/pulse_v2 @Qiskit/terra-core @nonhermitian @nkanazawa1989
visualization/timeline @Qiskit/terra-core @nonhermitian @nkanazawa1989

# Specific files / globs.
*.rs                             @Qiskit/terra-core @mtreinish @kevinhartman @Eric-Arellano
Cargo*                           @Qiskit/terra-core @mtreinish @kevinhartman @Eric-Arellano
synthesis/two_qubit_decompose.py @Qiskit/terra-core @levbishop
utils/run_circuits.py            @Qiskit/terra-core @woodsp-ibm
utils/quantum_instance.py        @Qiskit/terra-core @woodsp-ibm
utils/quantum_instance.py        @Qiskit/terra-core @woodsp-ibm

# Override the release notes directories to have _no_ code owners, so any review
# from somebody with write access is acceptable.
/releasenotes/notes
