Repository Qiskit/qiskit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajavadia, @kdk, @mtreinish, @1ucian0, @jaygambetta, @maddy-tod, @nonhermitian, @ewinston, @jyu00, @chriseclectic, @lcapelluto, @taalexander, @eggerdj, @nkanazawa1989, @danpuzzuoli, @itoko

update fallback
  qiskit/__init__.py
Owners: @ajavadia, @kdk, @mtreinish, @1ucian0

remove ibmq calls -> iqx
  qiskit/test/base.py
  qiskit/test/decorators.py
  qiskit/test/mock/__init__.py
  qiskit/tools/jupyter/__init__.py
  qiskit/tools/jupyter/backend_monitor.py
  qiskit/tools/jupyter/job_widgets.py
  qiskit/tools/monitor/backend_overview.py
  qiskit/visualization/gate_map.py
Owners: @ajavadia, @mtreinish, @kdk, @1ucian0, @nonhermitian, @maddy-tod

disable import position
  qiskit/__init__.py
Owners: @ajavadia, @kdk, @mtreinish, @1ucian0

The docs should finally build now
  qiskit/pulse/pulse_lib/sample_pulse.py
Owners: @lcapelluto, @taalexander, @eggerdj, @nkanazawa1989, @danpuzzuoli

add ignores
  tox.ini
Owners: @ajavadia, @kdk, @mtreinish, @1ucian0

add E402 pystyle ignore
  tox.ini
Owners: @ajavadia, @kdk, @mtreinish, @1ucian0

remove wrong commit
  tox.ini
Owners: @ajavadia, @kdk, @mtreinish, @1ucian0

.github/CODEOWNERS:

# This file defines the persons who will be assigned as reviewers for PRs that
# modify particular files in the repo. The PR can be merged when approved by at 
# least one codeowner. However, all Qiskit team members can (and should!) review the PRs.

# Global rule, unless specialized by a later one
* @ajavadia @kdk @mtreinish @1ucian0

# Individual folders on root directory
/tools/               @mtreinish @kdk
/examples/            @jaygambetta @mtreinish @maddy-tod
test/                 @ajavadia @mtreinish @kdk @1ucian0
docs/                 @nonhermitian @mtreinish

# Qiskit folders (also their corresponding tests)
circuit/              @ajavadia @kdk @ewinston @1ucian0 @mtreinish
extensions/           @ajavadia @kdk @ewinston @1ucian0 @mtreinish
dagcircuit/           @ajavadia @kdk @1ucian0 @maddy-tod
providers/            @ajavadia @mtreinish @jyu00 @chriseclectic @ewinston
basicaer/             @chriseclectic @ajavadia
pulse/                @lcapelluto @taalexander @eggerdj @nkanazawa1989 @danpuzzuoli
scheduler/            @lcapelluto @taalexander @eggerdj @nkanazawa1989 @danpuzzuoli
quantum_info/         @chriseclectic @ajavadia @ewinston
qi/                   @chriseclectic @ajavadia
result/               @jyu00 @taalexander @mtreinish @ajavadia
schemas/              @mtreinish @taalexander
transpiler/           @ajavadia @kdk @1ucian0 @itoko @mtreinish
assembler/            @ajavadia @kdk @taalexander @mtreinish @lcapelluto
compiler/             @ajavadia @kdk @1ucian0 @taalexander @mtreinish @lcapelluto
qobj/                 @jyu00 @taalexander @kdk @mtreinish
validation/           @ajavadia @taalexander @mtreinish
visualization/        @nonhermitian @mtreinish @1ucian0 @maddy-tod @ajavadia
