Repository Qiskit/qiskit, pull requests merged in 2022-09, with the labels that each got.

#8510 Remove deprecated methods and arguments in quantum_info
  qiskit/quantum_info/operators/symplectic/pauli_utils.py
  qiskit/quantum_info/operators/symplectic/sparse_pauli_op.py
  releasenotes/notes/remove-deprecated-methods-in-pauli-c874d463ba1f7a0e.yaml
Labels: Changelog: Removal, automerge, mod: quantum info

#8198 Switch draw functions from `pydot` to `retworkx`
  qiskit/circuit/equivalence.py
  qiskit/transpiler/coupling.py
  test/python/circuit/test_equivalence.py
  test/python/transpiler/test_coupling.py
  test/python/visualization/references/coupling_map.png
  test/python/visualization/references/session_equivalence_library.png
Labels: automerge, Changelog: None, Community PR

#8572 Enable multiple parallel seed trials for SabreSwap
  qiskit/transpiler/passes/layout/sabre_layout.py
  qiskit/transpiler/passes/routing/sabre_swap.py
  qiskit/transpiler/preset_passmanagers/builtin_plugins.py
  qiskit/transpiler/preset_passmanagers/level0.py
  qiskit/transpiler/preset_passmanagers/level1.py
  qiskit/transpiler/preset_passmanagers/level2.py
  qiskit/transpiler/preset_passmanagers/level3.py
  releasenotes/notes/multiple-parallel-rusty-sabres-32bc93f79ae48a1f.yaml
  src/sabre_swap/mod.rs
  test/python/transpiler/test_mappers.py
  test/python/transpiler/test_preset_passmanagers.py
  test/python/transpiler/test_sabre_layout.py
Labels: performance, Changelog: New Feature, automerge, Rust, mod: transpiler

#8659 Fix flaky equivalence drawer test
  test/python/circuit/test_equivalence.py
  test/python/visualization/references/equivalence_library.png
  test/python/visualization/references/session_equivalence_library.png
Labels: type: qa, automerge, Changelog: None

#8652 Remove log warning with heterogeneous basis gates in BackendV2
  qiskit/providers/backend.py
  test/python/providers/test_backend_v2.py
Labels: automerge, Changelog: None

#8658 Add curve fill control option to pulse drawer
  qiskit/visualization/pulse_v2/generators/waveform.py
  qiskit/visualization/pulse_v2/interface.py
  qiskit/visualization/pulse_v2/stylesheet.py
  releasenotes/notes/add-pulse-drawer-option-936b6d943de9a270.yaml
Labels: Changelog: New Feature, automerge, mod: visualization

#8303 Fidelity interface using primitives
  qiskit/algorithms/__init__.py
  qiskit/algorithms/algorithm_job.py
  qiskit/algorithms/state_fidelities/__init__.py
  qiskit/algorithms/state_fidelities/base_state_fidelity.py
  qiskit/algorithms/state_fidelities/compute_uncompute.py
  qiskit/algorithms/state_fidelities/state_fidelity_result.py
  releasenotes/notes/add-fidelity-interface-primitives-dc543d079ecaa8dd.yaml
  test/python/algorithms/state_fidelities/__init__.py
  test/python/algorithms/state_fidelities/test_compute_uncompute.py
Labels: Changelog: New Feature, automerge, mod: algorithms, mod: primitives

#8588 Clean up text drawer compression issues
  qiskit/visualization/text.py
  releasenotes/notes/fix-text-drawer-compression-a80a5636957e8eec.yaml
  test/python/visualization/test_circuit_text_drawer.py
Labels: Changelog: Bugfix, automerge, mod: visualization

#8671 Fix incorrect docs image in `plot_coupling_map`
  qiskit/visualization/gate_map.py
Labels: documentation, automerge, Changelog: None, Community PR, mod: visualization

#8528 Gradients with the primitives
  qiskit/algorithms/__init__.py
  qiskit/algorithms/gradients/__init__.py
  qiskit/algorithms/gradients/base_estimator_gradient.py
  qiskit/algorithms/gradients/base_sampler_gradient.py
  qiskit/algorithms/gradients/estimator_gradient_result.py
  qiskit/algorithms/gradients/finite_diff_estimator_gradient.py
  qiskit/algorithms/gradients/finite_diff_sampler_gradient.py
  qiskit/algorithms/gradients/lin_comb_estimator_gradient.py
  qiskit/algorithms/gradients/lin_comb_sampler_gradient.py
  qiskit/algorithms/gradients/param_shift_estimator_gradient.py
  qiskit/algorithms/gradients/param_shift_sampler_gradient.py
  qiskit/algorithms/gradients/sampler_gradient_result.py
  qiskit/algorithms/gradients/spsa_estimator_gradient.py
  qiskit/algorithms/gradients/spsa_sampler_gradient.py
  qiskit/algorithms/gradients/utils.py
  releasenotes/notes/add-gradients-with-primitives-561cf9cf75a7ccb8.yaml
  test/python/algorithms/test_estimator_gradient.py
  test/python/algorithms/test_sampler_gradient.py
Labels: Changelog: New Feature, mod: algorithms, mod: primitives

#8513 Default run_options for Primitives
  qiskit/primitives/base_estimator.py
  qiskit/primitives/base_sampler.py
  qiskit/primitives/estimator.py
  qiskit/primitives/sampler.py
  releasenotes/notes/primitives-run_options-eb4a360c3f1e197d.yaml
  test/python/primitives/test_estimator.py
  test/python/primitives/test_sampler.py
Labels: Changelog: New Feature, automerge, mod: primitives

#8694 Include primitive's run_options
  qiskit/algorithms/gradients/base_estimator_gradient.py
  qiskit/algorithms/gradients/base_sampler_gradient.py
  qiskit/algorithms/gradients/estimator_gradient_result.py
  qiskit/algorithms/gradients/finite_diff_estimator_gradient.py
  qiskit/algorithms/gradients/finite_diff_sampler_gradient.py
  qiskit/algorithms/gradients/lin_comb_estimator_gradient.py
  qiskit/algorithms/gradients/lin_comb_sampler_gradient.py
  qiskit/algorithms/gradients/param_shift_estimator_gradient.py
  qiskit/algorithms/gradients/param_shift_sampler_gradient.py
  qiskit/algorithms/gradients/sampler_gradient_result.py
  qiskit/algorithms/gradients/spsa_estimator_gradient.py
  qiskit/algorithms/gradients/spsa_sampler_gradient.py
  releasenotes/notes/add-gradients-with-primitives-561cf9cf75a7ccb8.yaml
  test/python/algorithms/test_estimator_gradient.py
  test/python/algorithms/test_sampler_gradient.py
Labels: automerge, mod: algorithms, Changelog: None, mod: primitives

#8699 Improve HHL/Shor deprecated messages
  qiskit/algorithms/factorizers/shor.py
  qiskit/algorithms/linear_solvers/hhl.py
Labels: documentation, mod: algorithms

#8697 Remove deprecated pulse-builder contexts
  qiskit/pulse/__init__.py
  qiskit/pulse/builder.py
  releasenotes/notes/qiskit.pulse.builder-ddefe88dca5765b9.yaml
  test/python/pulse/test_builder.py
Labels: Changelog: Removal, automerge

#8678 Add an error check for Sampler
  qiskit/primitives/base_sampler.py
  qiskit/primitives/sampler.py
  releasenotes/notes/add-sampler-error-check-38426fb186db44d4.yaml
  test/python/primitives/test_sampler.py
Labels: automerge, mod: primitives

#8569 Add common usage explanations and code examples to qiskit.visualization module API page
  qiskit/visualization/__init__.py
Labels: documentation, automerge, Changelog: None

#8696 deprecate qiskit.pulse.utils.deprecated_functionality in favor of qiskit.utils.deprecation.deprecate_function
  qiskit/pulse/utils.py
  releasenotes/notes/deprecated-pulse-deprecator-394ec75079441cda.yaml
Labels: Changelog: Deprecation, automerge

#8722 feat: support sum(LinearMixin)
  qiskit/quantum_info/operators/mixins/linear.py
  releasenotes/notes/base-operators-sums-d331e78a9fa4b5d8.yaml
  test/python/quantum_info/operators/test_scalar_op.py
Labels: Changelog: New Feature, automerge

#8701 Improve error message on QASM 2 export of single-bit conditions
  qiskit/circuit/instruction.py
  test/python/circuit/test_circuit_qasm.py
Labels: automerge, qasm, Changelog: None

#8679 Rewrite docstring in Operator class
  qiskit/quantum_info/operators/operator.py
Labels: automerge, Changelog: None, Community PR

#8124 build the docs in python 3.9
  azure-pipelines.yml
  requirements-dev.txt
Labels: documentation, automerge, Changelog: None

#8715 Prevent extraneous file generated by docs build
  qiskit/visualization/__init__.py
Labels: documentation, automerge, Changelog: None

#8351 Changed plot histogram code example and added another one in the API reference
  qiskit/visualization/counts_visualization.py
Labels: documentation, automerge, Changelog: None, Intern PR

#8732 Cap stestr version in CI
  requirements-dev.txt
Labels: type: qa, automerge, Changelog: None

#8731 Fix OpenQASM 3 built-ins with classical conditions
  qiskit/qasm3/exporter.py
  releasenotes/notes/qasm3-fix-conditional-measurement-2d938cad74a9024a.yaml
  test/python/circuit/test_circuit_qasm3.py
Labels: Changelog: Bugfix, automerge, qasm

#8737 Fix QuantumCircuit.draw without matplotlib installed
  qiskit/visualization/__init__.py
Labels: type: qa, automerge, Changelog: None

#8741 Fix circuit drawers mutating input circuits
  qiskit/visualization/circuit/_utils.py
  test/python/visualization/test_circuit_text_drawer.py
Labels: automerge, Changelog: None, mod: visualization

#8719 Rename run_options to options
  qiskit/algorithms/gradients/base_estimator_gradient.py
  qiskit/algorithms/gradients/base_sampler_gradient.py
  qiskit/primitives/base_estimator.py
  qiskit/primitives/base_sampler.py
  qiskit/primitives/estimator.py
  qiskit/primitives/sampler.py
  test/python/algorithms/test_estimator_gradient.py
  test/python/algorithms/test_sampler_gradient.py
  test/python/primitives/test_estimator.py
  test/python/primitives/test_sampler.py
Labels: automerge, mod: algorithms, mod: primitives

#8091 Add BaseResult functionality to primitives module
  qiskit/primitives/__init__.py
  qiskit/primitives/base_result.py
  qiskit/primitives/estimator_result.py
  qiskit/primitives/sampler_result.py
  releasenotes/notes/primitive-base-result-92808b069299c19e.yaml
  test/python/primitives/test_result.py
Labels: Changelog: New Feature, automerge, mod: primitives

#8005 Pulse reference mechanism
  qiskit/pulse/__init__.py
  qiskit/pulse/builder.py
  qiskit/pulse/exceptions.py
  qiskit/pulse/instructions/__init__.py
  qiskit/pulse/instructions/acquire.py
  qiskit/pulse/instructions/call.py
  qiskit/pulse/instructions/delay.py
  qiskit/pulse/instructions/frequency.py
  qiskit/pulse/instructions/instruction.py
  qiskit/pulse/instructions/phase.py
  qiskit/pulse/instructions/play.py
  qiskit/pulse/instructions/reference.py
  qiskit/pulse/instructions/snapshot.py
  qiskit/pulse/parameter_manager.py
  qiskit/pulse/reference_manager.py
  qiskit/pulse/schedule.py
  qiskit/pulse/transforms/__init__.py
  qiskit/pulse/transforms/dag.py
  releasenotes/notes/add-schedule-block-reference-mechanism-8a7811e17b4fead3.yaml
  test/python/pulse/test_block.py
  test/python/pulse/test_instructions.py
  test/python/pulse/test_parameter_manager.py
  test/python/pulse/test_reference.py
Labels: Changelog: New Feature, Changelog: API Change, automerge, mod: pulse

#8638 Raise error for missing bounds in optimizer SNOBFIT
  qiskit/algorithms/optimizers/snobfit.py
  releasenotes/notes/improve-error-message-snobfit-missing-bounds-748943a87e682d82.yaml
  test/python/algorithms/optimizers/test_optimizers_scikitquant.py
Labels: Changelog: Bugfix, automerge, mod: algorithms, Community PR

#8365 Add rust coverage data to coverage CI collection
  .github/workflows/coverage.yml
Labels: type: qa, automerge, Changelog: None, Rust

#8604 Composite key for Primitives
  qiskit/primitives/base_estimator.py
  qiskit/primitives/base_sampler.py
  qiskit/primitives/estimator.py
  qiskit/primitives/sampler.py
  qiskit/primitives/utils.py
  test/python/primitives/test_sampler.py
Labels: priority: high, Changelog: Bugfix, automerge, mod: primitives

#8341 Edge coloring for the Commuting2qGateRouter
  qiskit/transpiler/passes/routing/commuting_2q_gate_routing/commuting_2q_gate_router.py
  releasenotes/notes/edge-coloring-e55700fcf8902c79.yaml
  test/python/transpiler/test_swap_strategy_router.py
Labels: Changelog: New Feature, automerge

#8683 Adds observable evaluator with primitives.
  qiskit/algorithms/__init__.py
  qiskit/algorithms/aux_ops_evaluator.py
  qiskit/algorithms/observables_evaluator.py
  releasenotes/notes/observable-eval-primitives-e1fd989e15c7760c.yaml
  test/python/algorithms/test_observables_evaluator.py
Labels: Changelog: Deprecation, Changelog: New Feature, automerge, mod: algorithms

#8752 Lift trivial transpiler passes to handle control flow
  qiskit/transpiler/passes/basis/unroll_3q_or_more.py
  qiskit/transpiler/passes/basis/unroll_custom_definitions.py
  qiskit/transpiler/passes/basis/unroller.py
  qiskit/transpiler/passes/optimization/collect_linear_functions.py
  qiskit/transpiler/passes/optimization/cx_cancellation.py
  qiskit/transpiler/passes/optimization/optimize_cliffords.py
  qiskit/transpiler/passes/optimization/optimize_swap_before_measure.py
  qiskit/transpiler/passes/optimization/remove_diagonal_gates_before_measure.py
  qiskit/transpiler/passes/optimization/reset_after_measure_simplification.py
  qiskit/transpiler/passes/utils/__init__.py
  qiskit/transpiler/passes/utils/control_flow.py
  qiskit/transpiler/passes/utils/remove_barriers.py
  test/python/transpiler/test_clifford_passes.py
  test/python/transpiler/test_cx_cancellation.py
  test/python/transpiler/test_linear_functions_passes.py
  test/python/transpiler/test_optimize_swap_before_measure.py
  test/python/transpiler/test_remove_barriers.py
  test/python/transpiler/test_remove_diagonal_gates_before_measure.py
  test/python/transpiler/test_reset_after_measure_simplification.py
  test/python/transpiler/test_unroll_3q_or_more.py
  test/python/transpiler/test_unroll_custom_definitions.py
Labels: automerge, Changelog: None

#8750 Removes old VarQTE algorithm code (without primitives).
  qiskit/algorithms/__init__.py
  qiskit/algorithms/evolvers/variational/__init__.py
  qiskit/algorithms/evolvers/variational/solvers/__init__.py
  qiskit/algorithms/evolvers/variational/solvers/ode/__init__.py
  qiskit/algorithms/evolvers/variational/solvers/ode/abstract_ode_function.py
  qiskit/algorithms/evolvers/variational/solvers/ode/forward_euler_solver.py
  qiskit/algorithms/evolvers/variational/solvers/ode/ode_function.py
  qiskit/algorithms/evolvers/variational/solvers/ode/ode_function_factory.py
  qiskit/algorithms/evolvers/variational/solvers/ode/var_qte_ode_solver.py
  qiskit/algorithms/evolvers/variational/solvers/var_qte_linear_solver.py
  qiskit/algorithms/evolvers/variational/var_qite.py
  qiskit/algorithms/evolvers/variational/var_qrte.py
  qiskit/algorithms/evolvers/variational/var_qte.py
  qiskit/algorithms/evolvers/variational/variational_principles/__init__.py
  qiskit/algorithms/evolvers/variational/variational_principles/imaginary_mc_lachlan_principle.py
  qiskit/algorithms/evolvers/variational/variational_principles/imaginary_variational_principle.py
  qiskit/algorithms/evolvers/variational/variational_principles/real_mc_lachlan_principle.py
  qiskit/algorithms/evolvers/variational/variational_principles/real_variational_principle.py
  qiskit/algorithms/evolvers/variational/variational_principles/variational_principle.py
  releasenotes/notes/add-variational-quantum-time-evolution-112ffeaf62782fea.yaml
  test/python/algorithms/evolvers/variational/__init__.py
  test/python/algorithms/evolvers/variational/solvers/__init__.py
  test/python/algorithms/evolvers/variational/solvers/expected_results/__init__.py
  test/python/algorithms/evolvers/variational/solvers/expected_results/test_varqte_linear_solver_expected_1.py
  test/python/algorithms/evolvers/variational/solvers/ode/__init__.py
  test/python/algorithms/evolvers/variational/solvers/ode/test_forward_euler_solver.py
  test/python/algorithms/evolvers/variational/solvers/ode/test_ode_function.py
  test/python/algorithms/evolvers/variational/solvers/ode/test_var_qte_ode_solver.py
  test/python/algorithms/evolvers/variational/solvers/test_varqte_linear_solver.py
  test/python/algorithms/evolvers/variational/test_var_qite.py
  test/python/algorithms/evolvers/variational/test_var_qrte.py
  test/python/algorithms/evolvers/variational/test_var_qte.py
  test/python/algorithms/evolvers/variational/variational_principles/__init__.py
  test/python/algorithms/evolvers/variational/variational_principles/expected_results/__init__.py
  test/python/algorithms/evolvers/variational/variational_principles/expected_results/test_imaginary_mc_lachlan_variational_principle_expected1.py
  test/python/algorithms/evolvers/variational/variational_principles/expected_results/test_imaginary_mc_lachlan_variational_principle_expected2.py
  test/python/algorithms/evolvers/variational/variational_principles/expected_results/test_imaginary_mc_lachlan_variational_principle_expected3.py
  test/python/algorithms/evolvers/variational/variational_principles/imaginary/__init__.py
  test/python/algorithms/evolvers/variational/variational_principles/imaginary/test_imaginary_mc_lachlan_principle.py
  test/python/algorithms/evolvers/variational/variational_principles/real/__init__.py
  test/python/algorithms/evolvers/variational/variational_principles/real/test_real_mc_lachlan_principle.py
Labels: automerge, mod: algorithms, Changelog: None

#8627 Add internal routine for canonicalisation of control-flow builders
  qiskit/dagcircuit/dagcircuit.py
  qiskit/test/_canonical.py
  releasenotes/notes/fix-nondeterministic-dagcircuit-eq-7caa9041093c6e4c.yaml
  test/python/circuit/test_control_flow_builders.py
Labels: Changelog: Bugfix, automerge

#8727 Fix handling of conditions in SabreDAG creation
  qiskit/transpiler/passes/routing/sabre_swap.py
  src/sabre_swap/sabre_dag.rs
  test/python/transpiler/test_sabre_swap.py
Labels: automerge, Changelog: None

#8615 Allow DAG-node substitution without overriding conditions
  qiskit/dagcircuit/dagcircuit.py
  releasenotes/notes/update-DAGCircuit.substitute_node_with_dag-3a44d16b1a82df41.yaml
  test/python/dagcircuit/test_dagcircuit.py
Labels: Changelog: New Feature, automerge

#7712 Fix printing an empty PauliList
  qiskit/quantum_info/operators/symplectic/pauli_list.py
  releasenotes/notes/fix-empty-string-pauli-list-init-4d978fb0eaf1bc70.yaml
  test/python/quantum_info/operators/symplectic/test_pauli_list.py
Labels: automerge, mod: quantum info, Community PR

#8738 Prepare for removal of `tweedledum` as a requirement
  qiskit/circuit/__init__.py
  qiskit/circuit/classicalfunction/__init__.py
  qiskit/circuit/library/phase_oracle.py
  qiskit/utils/optionals.py
  qiskit/visualization/circuit/_utils.py
  releasenotes/notes/0.16/classical_funciton_compliation-c5d75e0aaf04c8f1.yaml
  releasenotes/notes/0.17/bool_expression_phaseoracle-1802be3016c83fa8.yaml
  releasenotes/notes/begin-tweedledum-removal-25bb68fc72804f00.yaml
  requirements.txt
  test/python/classical_function_compiler/bad_examples.py
  test/python/classical_function_compiler/examples.py
Labels: Changelog: Deprecation, Changelog: API Change, automerge

#8595 Default set to turn off approximation_degree
  qiskit/compiler/transpiler.py
  releasenotes/notes/turn-off-approx-degree-df3d39eb69f7f09f.yaml
Labels: Changelog: API Change, automerge

#8344 adding FakePerth
  qiskit/providers/fake_provider/__init__.py
  qiskit/providers/fake_provider/backends/__init__.py
  qiskit/providers/fake_provider/backends/perth/__init__.py
  qiskit/providers/fake_provider/backends/perth/conf_perth.json
  qiskit/providers/fake_provider/backends/perth/defs_perth.json
  qiskit/providers/fake_provider/backends/perth/fake_perth.py
  qiskit/providers/fake_provider/backends/perth/props_perth.json
  qiskit/providers/fake_provider/fake_provider.py
  releasenotes/notes/ibm_perth-5b1e9308dc302e2e.yaml
Labels: automerge, mod: fake_provider

#8358 Add FakeOslo backend to fake provider
  qiskit/providers/fake_provider/__init__.py
  qiskit/providers/fake_provider/backends/__init__.py
  qiskit/providers/fake_provider/backends/oslo/__init__.py
  qiskit/providers/fake_provider/backends/oslo/conf_oslo.json
  qiskit/providers/fake_provider/backends/oslo/defs_oslo.json
  qiskit/providers/fake_provider/backends/oslo/fake_oslo.py
  qiskit/providers/fake_provider/backends/oslo/props_oslo.json
  qiskit/providers/fake_provider/fake_provider.py
  releasenotes/notes/fake_oslo-7bba98d7269f959b.yaml
Labels: Changelog: New Feature, automerge, mod: fake_provider

#8467 Add FakeAuckland backend to fake provider
  qiskit/providers/fake_provider/__init__.py
  qiskit/providers/fake_provider/backends/__init__.py
  qiskit/providers/fake_provider/backends/auckland/__init__.py
  qiskit/providers/fake_provider/backends/auckland/conf_auckland.json
  qiskit/providers/fake_provider/backends/auckland/defs_auckland.json
  qiskit/providers/fake_provider/backends/auckland/fake_auckland.py
  qiskit/providers/fake_provider/backends/auckland/props_auckland.json
  qiskit/providers/fake_provider/fake_provider.py
  releasenotes/notes/fake_auckland-deadbeef.yaml
Labels: Changelog: New Feature, automerge, mod: fake_provider

#8773 Remove param. test for `ComputeUncompute`
  test/python/algorithms/state_fidelities/test_compute_uncompute.py
Labels: automerge, mod: algorithms, Changelog: None

#8767 Fix handling of holes in physical bits list in Layout
  qiskit/transpiler/layout.py
  releasenotes/notes/register-add-fix-e29fa2ee47aa6d05.yaml
  test/python/transpiler/test_layout.py
  test/python/transpiler/test_vf2_layout.py
Labels: Changelog: API Change, Changelog: Bugfix, automerge

#8322 adding FakeGeneva
  qiskit/providers/fake_provider/__init__.py
  qiskit/providers/fake_provider/backends/__init__.py
  qiskit/providers/fake_provider/backends/geneva/__init__.py
  qiskit/providers/fake_provider/backends/geneva/conf_geneva.json
  qiskit/providers/fake_provider/backends/geneva/defs_geneva.json
  qiskit/providers/fake_provider/backends/geneva/fake_geneva.py
  qiskit/providers/fake_provider/backends/geneva/props_geneva.json
  qiskit/providers/fake_provider/fake_provider.py
  releasenotes/notes/ibm_geneva-34b848b0a49278dc.yaml
Labels: automerge, mod: fake_provider

#8684 Remove `parameters` arguments for `run` method of Primitives
  qiskit/primitives/base_estimator.py
  qiskit/primitives/base_sampler.py
  qiskit/primitives/estimator.py
  qiskit/primitives/sampler.py
  releasenotes/notes/primitive-run-5d1afab3655330a6.yaml
Labels: automerge, mod: primitives

#8777 Fix release notes code block format
  releasenotes/notes/add-fidelity-interface-primitives-dc543d079ecaa8dd.yaml
  releasenotes/notes/add-gradients-with-primitives-561cf9cf75a7ccb8.yaml
Labels: documentation, automerge, mod: algorithms, Changelog: None

#8461 Fix _state_to_latex_ket prefix kwarg bug
  qiskit/visualization/state_visualization.py
  releasenotes/notes/rh1_state_to_latex_fix-e36e47cbdb25033e.yaml
  test/python/quantum_info/states/test_statevector.py
Labels: Changelog: Bugfix, automerge, Community PR

#8464 Update `ProbDistribution` and `QuasiDistribution` to store the number of bits if bitstrings w/o prefix are given
  qiskit/result/distributions/probability.py
  qiskit/result/distributions/quasi.py
  releasenotes/notes/update-prob-quasi-2044285a46219d14.yaml
  test/python/result/test_probability.py
  test/python/result/test_quasi.py
Labels: Changelog: API Change, automerge

#8625 Fix flipping of gate direction in transpiler for CZ gate
  qiskit/transpiler/passes/utils/gate_direction.py
  releasenotes/notes/fix-flipping-cz-gate-fd08305ca12d9a79.yaml
  test/python/transpiler/test_gate_direction.py
Labels: Changelog: Bugfix, automerge, Community PR, mod: transpiler

#8705 Implemented PVQD algorithm with primitives.
  qiskit/algorithms/__init__.py
  qiskit/algorithms/state_fidelities/base_state_fidelity.py
  qiskit/algorithms/time_evolvers/pvqd/__init__.py
  qiskit/algorithms/time_evolvers/pvqd/pvqd.py
  qiskit/algorithms/time_evolvers/pvqd/pvqd_result.py
  qiskit/algorithms/time_evolvers/pvqd/utils.py
  releasenotes/notes/project-dynamics-primitives-6003336d0866ca19.yaml
  test/python/algorithms/time_evolvers/test_pvqd.py
Labels: Changelog: New Feature, automerge, mod: algorithms

#8781 Remove stestr cap
  requirements-dev.txt
Labels: type: qa, automerge, Changelog: None

#8647 Support `Sampler` in `Grover`
  qiskit/algorithms/amplitude_amplifiers/amplitude_amplifier.py
  qiskit/algorithms/amplitude_amplifiers/grover.py
  releasenotes/notes/0.17/bool_expression_phaseoracle-1802be3016c83fa8.yaml
  releasenotes/notes/add-grover-primitives-10f81efdba93703d.yaml
  test/python/algorithms/test_backendv1.py
  test/python/algorithms/test_backendv2.py
  test/python/algorithms/test_grover.py
Labels: Changelog: Deprecation, Changelog: New Feature, Changelog: API Change, automerge, mod: algorithms

#8273 Fix for `None` in `state_to_latex` latex output
  qiskit/visualization/state_visualization.py
  releasenotes/notes/state_to_latex_for_none-da834de3811640ce.yaml
  test/python/quantum_info/states/test_statevector.py
Labels: Changelog: Bugfix, automerge

#8766 add control flow support to Optimize1qDecomposition pass
  qiskit/transpiler/passes/optimization/optimize_1q_decomposition.py
  test/python/transpiler/test_optimize_1q_decomposition.py
Labels: automerge, Changelog: None

#8706 Implemented TrotterQRTE algorithm with primitives.
  qiskit/algorithms/__init__.py
  qiskit/algorithms/time_evolvers/trotterization/__init__.py
  qiskit/algorithms/time_evolvers/trotterization/trotter_qrte.py
  releasenotes/notes/trotter-qrte-primitives-8b3e495738b57fc3.yaml
  test/python/algorithms/time_evolvers/test_trotter_qrte.py
Labels: Changelog: New Feature, automerge, mod: algorithms

#8666 Quantum Phase Estimation algorithms with primitives.
  qiskit/algorithms/phase_estimators/hamiltonian_phase_estimation.py
  qiskit/algorithms/phase_estimators/hamiltonian_phase_estimation_result.py
  qiskit/algorithms/phase_estimators/ipe.py
  qiskit/algorithms/phase_estimators/phase_estimation.py
  qiskit/algorithms/phase_estimators/phase_estimation_result.py
  qiskit/algorithms/phase_estimators/phase_estimation_scale.py
  qiskit/algorithms/phase_estimators/phase_estimator.py
  releasenotes/notes/qpe-algorithms-primitives-3605bdfa5ab1bfef.yaml
  test/python/algorithms/test_phase_estimator.py
Labels: Changelog: Deprecation, Changelog: New Feature, Changelog: API Change, automerge, mod: algorithms

#8755 Rename run_options to options in fidelity and gradients and fidelity bug fix
  qiskit/algorithms/gradients/base_estimator_gradient.py
  qiskit/algorithms/gradients/base_sampler_gradient.py
  qiskit/algorithms/gradients/estimator_gradient_result.py
  qiskit/algorithms/gradients/finite_diff_estimator_gradient.py
  qiskit/algorithms/gradients/finite_diff_sampler_gradient.py
  qiskit/algorithms/gradients/lin_comb_estimator_gradient.py
  qiskit/algorithms/gradients/lin_comb_sampler_gradient.py
  qiskit/algorithms/gradients/param_shift_estimator_gradient.py
  qiskit/algorithms/gradients/param_shift_sampler_gradient.py
  qiskit/algorithms/gradients/sampler_gradient_result.py
  qiskit/algorithms/gradients/spsa_estimator_gradient.py
  qiskit/algorithms/gradients/spsa_sampler_gradient.py
  qiskit/algorithms/state_fidelities/base_state_fidelity.py
  qiskit/algorithms/state_fidelities/compute_uncompute.py
  qiskit/algorithms/state_fidelities/state_fidelity_result.py
  test/python/algorithms/state_fidelities/test_compute_uncompute.py
  test/python/algorithms/test_estimator_gradient.py
  test/python/algorithms/test_sampler_gradient.py
Labels: automerge, mod: algorithms, Changelog: None, mod: primitives

#8656 Rewrite Amplitude Estimators with Primitives
  qiskit/algorithms/amplitude_estimators/ae.py
  qiskit/algorithms/amplitude_estimators/ae_utils.py
  qiskit/algorithms/amplitude_estimators/amplitude_estimator.py
  qiskit/algorithms/amplitude_estimators/estimation_problem.py
  qiskit/algorithms/amplitude_estimators/fae.py
  qiskit/algorithms/amplitude_estimators/iae.py
  qiskit/algorithms/amplitude_estimators/mlae.py
  releasenotes/notes/ae-algorithms-primitives-497bae1b2b04f877.yaml
  test/python/algorithms/test_amplitude_estimators.py
Labels: Changelog: Deprecation, Changelog: New Feature, automerge, mod: algorithms

#8785 Remove duplicate optimization loop in level 3 PassManager
  qiskit/transpiler/preset_passmanagers/level3.py
Labels: automerge, Changelog: None

#8760 Fix Errors in Primitives
  qiskit/primitives/base_estimator.py
  qiskit/primitives/base_sampler.py
  test/python/primitives/test_estimator.py
  test/python/primitives/test_sampler.py
Labels: automerge, Changelog: None, mod: primitives

#8775 Add functional option to `circuit_key` primitives util
  qiskit/primitives/utils.py
Labels: automerge, Changelog: None, mod: primitives

#8560 Update documentation for BaseEstimator and BaseSampler: issues #8517 and #8516
  qiskit/primitives/base_estimator.py
  qiskit/primitives/base_sampler.py
Labels: documentation, automerge, mod: primitives, Community PR

#8443 Added explanation and example of circuit with conditionals to qiskit.circuit module page
  qiskit/circuit/__init__.py
  qiskit/circuit/instructionset.py
Labels: documentation, automerge, Changelog: None, Intern PR

#8525 Improving memory consumption of DagDependency when lists of transitive predecessors and successors are not required
  qiskit/converters/circuit_to_dagdependency.py
  qiskit/converters/dag_to_dagdependency.py
  qiskit/dagcircuit/dagdependency.py
  releasenotes/notes/dag_dependency_speedup-f6298348cb3d8746.yaml
  test/python/converters/test_circuit_to_dagdependency.py
  test/python/converters/test_dag_to_dagdependency.py
  test/python/dagcircuit/test_dagdependency.py
Labels: performance, Changelog: New Feature, automerge, enhancement

#8795 Pin sphinx-autodoc-typehints to avoid 1.19.3
  requirements-dev.txt
Labels: bug, documentation, priority: high, automerge

#8278 Remove symbolic pulse subclass implementation
  qiskit/assembler/assemble_schedules.py
  qiskit/pulse/library/symbolic_pulses.py
  qiskit/qobj/converters/pulse_instruction.py
  qiskit/qpy/binary_io/schedules.py
  qiskit/visualization/pulse_v2/generators/waveform.py
  releasenotes/notes/remove-symbolic-pulse-subclasses-77314a1654521852.yaml
  test/python/pulse/test_calibrationbuilder.py
  test/python/pulse/test_pulse_lib.py
Labels: Changelog: New Feature, Changelog: API Change, automerge, mod: pulse, mod: qpy

#8702 VQE implementation with estimator primitive
  qiskit/algorithms/__init__.py
  qiskit/algorithms/minimum_eigensolvers/__init__.py
  qiskit/algorithms/minimum_eigensolvers/minimum_eigensolver.py
  qiskit/algorithms/minimum_eigensolvers/numpy_minimum_eigensolver.py
  qiskit/algorithms/minimum_eigensolvers/vqe.py
  qiskit/algorithms/observables_evaluator.py
  qiskit/algorithms/optimizers/qnspsa.py
  qiskit/algorithms/optimizers/spsa.py
  qiskit/algorithms/time_evolvers/trotterization/trotter_qrte.py
  qiskit/algorithms/utils/__init__.py
  qiskit/algorithms/utils/validate_bounds.py
  qiskit/algorithms/utils/validate_initial_point.py
  qiskit/algorithms/variational_algorithm.py
  releasenotes/notes/0.19/add-getters-and-setters-for-vqe-edc753591b368980.yaml
  releasenotes/notes/0.19/support-dict-for-aux-operators-c3c9ad380c208afd.yaml
  releasenotes/notes/0.19/taper_empty_operator_fix-53ce20e5d2b68fd6.yaml
  releasenotes/notes/vqe-with-estimator-primitive-7cbcc462ad4dc593.yaml
  test/python/algorithms/minimum_eigensolvers/__init__.py
  test/python/algorithms/minimum_eigensolvers/test_numpy_minimum_eigensolver.py
  test/python/algorithms/minimum_eigensolvers/test_vqe.py
  test/python/algorithms/test_observables_evaluator.py
  test/python/algorithms/time_evolvers/test_trotter_qrte.py
  test/python/algorithms/utils/__init__.py
  test/python/algorithms/utils/test_validate_bounds.py
  test/python/algorithms/utils/test_validate_initial_point.py
Labels: Changelog: New Feature, automerge, mod: algorithms

#8797 Change pulse code owners
  .github/CODEOWNERS
Labels: automerge, Changelog: None

#8703 Pending deprecate algorithms
  qiskit/algorithms/minimum_eigen_solvers/minimum_eigen_solver.py
  qiskit/algorithms/minimum_eigen_solvers/numpy_minimum_eigen_solver.py
  qiskit/algorithms/minimum_eigen_solvers/qaoa.py
  qiskit/algorithms/minimum_eigen_solvers/vqe.py
  releasenotes/notes/pending-deprecate-min-eigen-solvers-fa4341e1014e4df0.yaml
Labels: Changelog: Deprecation, automerge, mod: algorithms

#8092 Add optimization to quantum shannon decomposition
  qiskit/extensions/unitary.py
  qiskit/quantum_info/synthesis/qsd.py
  qiskit/quantum_info/synthesis/two_qubit_decompose.py
  qiskit/transpiler/passes/synthesis/unitary_synthesis.py
  test/python/quantum_info/test_synthesis.py
Labels: Changelog: New Feature, automerge

#8759 Add BackendV2Converter class for treating BackendV1 as BackendV2
  qiskit/circuit/library/standard_gates/__init__.py
  qiskit/providers/__init__.py
  qiskit/providers/backend_compat.py
  releasenotes/notes/backend-converter-05360f12f9042829.yaml
  test/python/providers/test_fake_backends.py
Labels: Changelog: New Feature, automerge

#7930 Migrating AdaptVQE to Qiskit Terra
  qiskit/algorithms/minimum_eigensolvers/__init__.py
  qiskit/algorithms/minimum_eigensolvers/adapt_vqe.py
  releasenotes/notes/adapt-vqe-0f71234cb6ec92f8.yaml
  test/python/algorithms/minimum_eigensolvers/test_adapt_vqe.py
Labels: priority: high, Changelog: New Feature, automerge, mod: algorithms, QAMP, Community PR

#8620 Parameter handling in SparsePauliOp
  qiskit/quantum_info/operators/symplectic/sparse_pauli_op.py
  releasenotes/notes/operator-parameters-c81b7c05bffb740b.yaml
  test/python/quantum_info/operators/symplectic/test_sparse_pauli_op.py
Labels: priority: high, Changelog: New Feature, automerge, mod: quantum info

#8764 Add conversion transpiler pass from `c_if` to `IfElseOp`
  qiskit/transpiler/passes/__init__.py
  qiskit/transpiler/passes/utils/__init__.py
  qiskit/transpiler/passes/utils/convert_conditions_to_if_ops.py
  releasenotes/notes/c_if-to-if_else-converter-2d48046de31814a8.yaml
  test/python/transpiler/test_convert_conditions_to_if_ops.py
Labels: priority: medium, Changelog: New Feature, automerge

#8552 Use Sabre by default for optimization levels 1 and 2
  qiskit/transpiler/passes/routing/sabre_swap.py
  qiskit/transpiler/preset_passmanagers/builtin_plugins.py
  qiskit/transpiler/preset_passmanagers/level1.py
  qiskit/transpiler/preset_passmanagers/level2.py
  releasenotes/notes/sabres-for-everyone-3148ccf2064ccb0d.yaml
  src/sabre_swap/neighbor_table.rs
  test/python/compiler/test_transpiler.py
  test/python/transpiler/test_preset_passmanagers.py
Labels: performance, Changelog: API Change, automerge, mod: transpiler

#7269 Clifford does not use StabilizerTable as internal data and PendingDeprecation of PauliTable and StabilizerTable
  qiskit/quantum_info/operators/symplectic/base_pauli.py
  qiskit/quantum_info/operators/symplectic/clifford.py
  qiskit/quantum_info/operators/symplectic/clifford_circuits.py
  qiskit/quantum_info/operators/symplectic/pauli_table.py
  qiskit/quantum_info/operators/symplectic/random.py
  qiskit/quantum_info/operators/symplectic/stabilizer_table.py
  qiskit/quantum_info/states/stabilizerstate.py
  qiskit/quantum_info/synthesis/clifford_decompose.py
  releasenotes/notes/deprecate-stabilizer-table-9efd08c7de1a5b4d.yaml
  test/python/circuit/library/test_graph_state.py
  test/python/quantum_info/operators/symplectic/test_clifford.py
  test/python/quantum_info/operators/symplectic/test_stabilizer_table.py
  test/python/quantum_info/operators/test_random.py
Labels: priority: high, Changelog: Deprecation, Changelog: New Feature, automerge, mod: quantum info

#8651 Pending deprecate algo eigen_solvers
  qiskit/algorithms/eigen_solvers/eigen_solver.py
  qiskit/algorithms/eigen_solvers/numpy_eigen_solver.py
  qiskit/algorithms/eigen_solvers/vqd.py
  releasenotes/notes/pending-deprecate-eigen-solvers-2a4068cc9f83fba2.yaml
Labels: priority: high, Changelog: Deprecation, automerge, mod: algorithms

#8708 Remove a validation check of circuits for `BaseSampler` (follow-up of #8678)
  qiskit/primitives/base_sampler.py
  qiskit/primitives/sampler.py
  releasenotes/notes/add-sampler-error-check-38426fb186db44d4.yaml
  test/python/primitives/test_sampler.py
Labels: automerge, mod: primitives

#8704 Support non-list inputs to primitives
  qiskit/primitives/base_estimator.py
  qiskit/primitives/base_sampler.py
  test/python/primitives/test_estimator.py
  test/python/primitives/test_sampler.py
Labels: automerge, Changelog: None, mod: primitives

#8805 Remove incorrect return type annotation from `BaseEstimator.set_options`
  qiskit/primitives/base_estimator.py
Labels: automerge, Changelog: None

#8763 Add control-flow support to "properties" transpiler passes
  qiskit/dagcircuit/dagcircuit.py
  qiskit/transpiler/passes/analysis/count_ops.py
  qiskit/transpiler/passes/analysis/depth.py
  qiskit/transpiler/passes/analysis/size.py
  qiskit/transpiler/passes/utils/contains_instruction.py
  qiskit/transpiler/preset_passmanagers/level1.py
  qiskit/transpiler/preset_passmanagers/level2.py
  qiskit/transpiler/preset_passmanagers/level3.py
  releasenotes/notes/control-flow-depth-size-b598a4eb9d8888eb.yaml
  test/python/dagcircuit/test_dagcircuit.py
  test/python/transpiler/test_containsinstruction.py
  test/python/transpiler/test_depth_pass.py
  test/python/transpiler/test_size_pass.py
Labels: Changelog: New Feature, Changelog: Bugfix, automerge

#8804 Make VF2Layout and VF2PostLayout work with control flow
  qiskit/transpiler/passes/layout/vf2_utils.py
  test/python/transpiler/test_vf2_layout.py
  test/python/transpiler/test_vf2_post_layout.py
Labels: Changelog: New Feature, automerge

#8669 Sampler-based VQE for diagonal operators, plus QAOA
  qiskit/algorithms/minimum_eigensolvers/__init__.py
  qiskit/algorithms/minimum_eigensolvers/diagonal_estimator.py
  qiskit/algorithms/minimum_eigensolvers/qaoa.py
  qiskit/algorithms/minimum_eigensolvers/sampling_mes.py
  qiskit/algorithms/minimum_eigensolvers/sampling_vqe.py
  qiskit/algorithms/minimum_eigensolvers/vqe.py
  qiskit/algorithms/optimizers/spsa.py
  releasenotes/notes/sampling-vqe-and-qaoa-ecfb36a0a300f69b.yaml
  releasenotes/notes/vqe-with-estimator-primitive-7cbcc462ad4dc593.yaml
  test/python/algorithms/minimum_eigensolvers/test_qaoa.py
  test/python/algorithms/minimum_eigensolvers/test_sampling_vqe.py
  test/python/algorithms/minimum_eigensolvers/test_vqe.py
Labels: priority: high, Changelog: New Feature, automerge, mod: algorithms

#8736 Add backend estimator for estimator from an arbitrary backend
  qiskit/primitives/__init__.py
  qiskit/primitives/backend_estimator.py
  qiskit/providers/basicaer/qasm_simulator.py
  qiskit/providers/basicaer/unitary_simulator.py
  test/python/primitives/test_backend_estimator.py
Labels: priority: high, Changelog: New Feature, automerge, mod: primitives

#8668 Add BackendSampler for Sampler from an arbitrary backend
  qiskit/primitives/__init__.py
  qiskit/primitives/backend_sampler.py
  releasenotes/notes/add-backend-sampler-dcee9d4db17d5956.yaml
  test/python/primitives/test_backend_sampler.py
Labels: priority: high, Changelog: New Feature, automerge, mod: primitives

#8793 add controlflow handling to CheckMap transpiler pass.
  qiskit/transpiler/passes/utils/check_map.py
  test/python/transpiler/test_check_map.py
Labels: Changelog: New Feature, automerge

#8808 fix: stabilize the flaky cyclicity test of AdaptVQE
  test/python/algorithms/minimum_eigensolvers/test_adapt_vqe.py
Labels: type: qa, priority: high, automerge, mod: algorithms, Changelog: None

#8682 Switch to primitive support in QNSPSA
  qiskit/algorithms/optimizers/qnspsa.py
  releasenotes/notes/qnspsa-primitification-29a9dcae055bf2b4.yaml
  test/python/algorithms/optimizers/test_spsa.py
Labels: priority: high, Changelog: Deprecation, Changelog: New Feature, automerge, mod: algorithms

#8742 add control flow handling to DenseLayout pass
  qiskit/transpiler/passes/layout/dense_layout.py
  test/python/transpiler/test_dense_layout.py
Labels: Changelog: New Feature, automerge

#8815 fix: rewrite AdaptVQE cyclicity test
  test/python/algorithms/minimum_eigensolvers/test_adapt_vqe.py
Labels: type: qa, automerge, mod: algorithms, Changelog: None

#8548 Implementing pluggable HighLevelSynthesis
  qiskit/circuit/commutation_checker.py
  qiskit/compiler/transpiler.py
  qiskit/converters/circuit_to_dag.py
  qiskit/converters/dag_to_circuit.py
  qiskit/transpiler/passes/synthesis/__init__.py
  qiskit/transpiler/passes/synthesis/high_level_synthesis.py
  qiskit/transpiler/passes/synthesis/plugin.py
  qiskit/transpiler/passmanager_config.py
  qiskit/transpiler/preset_passmanagers/__init__.py
  qiskit/transpiler/preset_passmanagers/common.py
  qiskit/transpiler/preset_passmanagers/level0.py
  qiskit/transpiler/preset_passmanagers/level1.py
  qiskit/transpiler/preset_passmanagers/level2.py
  qiskit/transpiler/preset_passmanagers/level3.py
  releasenotes/notes/pluggable-high-level-synthesis-3af9976b22e012d9.yaml
  setup.py
  test/python/transpiler/test_high_level_synthesis.py
Labels: Changelog: New Feature, automerge, synthesis

#8820 Fix random failure in backend estimator tests
  test/python/primitives/test_backend_estimator.py
Labels: type: qa, automerge, Changelog: None

#8816 Fix VQE result, add ansatz
  qiskit/algorithms/eigensolvers/vqd.py
  qiskit/algorithms/minimum_eigensolvers/sampling_vqe.py
  qiskit/algorithms/minimum_eigensolvers/vqe.py
  qiskit/algorithms/variational_algorithm.py
  test/python/algorithms/eigensolvers/test_vqd.py
  test/python/algorithms/minimum_eigensolvers/test_vqe.py
Labels: bug, automerge, mod: algorithms, Changelog: None
