Repository Qiskit/qiskit, pull requests merged in 2022-12, with the labels that each got.

#8913 Add module level docstring and functions examples to ``qiskit.tools``
  qiskit/tools/__init__.py
  qiskit/tools/events/__init__.py
  qiskit/tools/events/progressbar.py
  qiskit/tools/monitor/__init__.py
  qiskit/tools/monitor/job_monitor.py
  qiskit/tools/monitor/overview.py
  qiskit/tools/parallel.py
Labels: documentation, automerge, Changelog: None, Community PR

#9212 Add top level summary to QPY module docs
  qiskit/qpy/__init__.py
Labels: documentation, stable backport potential, automerge, Changelog: None

#9222 Enable simplifying 1q runs and 2q blocks in transpile() without target
  qiskit/transpiler/passes/optimization/consolidate_blocks.py
  qiskit/transpiler/passes/optimization/optimize_1q_decomposition.py
  qiskit/visualization/timeline/core.py
  releasenotes/notes/fix-identity-simplification-no-target-62cd8614044a0fe9.yaml
  test/python/circuit/test_scheduled_circuit.py
  test/python/compiler/test_transpiler.py
  test/python/transpiler/test_consolidate_blocks.py
  test/python/transpiler/test_optimize_1q_decomposition.py
Labels: Changelog: Bugfix, automerge, mod: transpiler

#9214 Fix ordering of dims in QuantumState.probabilities_dict
  qiskit/quantum_info/states/quantum_state.py
  releasenotes/notes/probabilities_dict_bug_fix-aac3b3d3853828dc.yaml
  test/python/quantum_info/states/test_densitymatrix.py
  test/python/quantum_info/states/test_statevector.py
Labels: stable backport potential, Changelog: Bugfix, automerge, mod: quantum info

#9146 Correct deprecation of old pulse visualization
  qiskit/pulse/instructions/instruction.py
  qiskit/pulse/library/pulse.py
  qiskit/pulse/schedule.py
  qiskit/visualization/__init__.py
  qiskit/visualization/pulse/__init__.py
  qiskit/visualization/pulse/interpolation.py
  qiskit/visualization/pulse/matplotlib.py
  qiskit/visualization/pulse/qcstyle.py
  releasenotes/notes/deprecate-old-pulse-visualization-b62d28f7c53b9c4c.yaml
Labels: Changelog: Deprecation, automerge, mod: visualization

#8807 Speedup `Statevector` construction for `Initialize` instructions
  qiskit/quantum_info/states/statevector.py
  test/python/quantum_info/states/test_statevector.py
Labels: performance, automerge, Changelog: None

#9219 some doc formatting issues in passes/synthesis/unitary_synthesis.py
  qiskit/transpiler/passes/synthesis/unitary_synthesis.py
Labels: documentation, stable backport potential, automerge, Changelog: None

#9230 Fix the random seed for `TestSamplerVQE`
  test/python/algorithms/minimum_eigensolvers/test_sampling_vqe.py
Labels: stable backport potential, automerge, mod: algorithms, Changelog: None

#9188 Add DAGCircuit output option to OneQubitEulerDecomposer
  qiskit/quantum_info/synthesis/one_qubit_decompose.py
  qiskit/transpiler/passes/optimization/optimize_1q_commutation.py
  qiskit/transpiler/passes/optimization/optimize_1q_decomposition.py
  releasenotes/notes/use_dag-one-qubit-euler-decomposer-6df00931384b14bd.yaml
  test/python/transpiler/test_optimize_1q_decomposition.py
Labels: performance, Changelog: New Feature, automerge, mod: quantum info

#9065 Fully normalize observables in `BaseEstimator.run()` method
  qiskit/primitives/base/base_estimator.py
  qiskit/primitives/utils.py
  releasenotes/notes/base-estimator-observable-validation-3addb17a2a8c9d97.yaml
  test/python/primitives/test_estimator.py
Labels: automerge, Changelog: None, mod: primitives

#9221 Fix the ``aggregation`` argument of ``SamplingVQE``
  qiskit/algorithms/minimum_eigensolvers/diagonal_estimator.py
  qiskit/algorithms/minimum_eigensolvers/sampling_vqe.py
  releasenotes/notes/fix-sampling-vqe-aggregation-107e3983147c57bc.yaml
  test/python/algorithms/minimum_eigensolvers/test_sampling_vqe.py
Labels: stable backport potential, Changelog: Bugfix, automerge, mod: algorithms

#9229 Performance improvement of `_DiagonalEstimator`
  qiskit/algorithms/minimum_eigensolvers/diagonal_estimator.py
  releasenotes/notes/fix-sampling-vqe-performance-b5bfe92c2d3e10ab.yaml
Labels: stable backport potential, performance, Changelog: Bugfix, automerge, mod: algorithms

#9236 Fix a transpile issue of BackendSampler
  qiskit/primitives/backend_sampler.py
  releasenotes/notes/fix-backend-sampler-890cbcf913667b08.yaml
  test/python/primitives/test_backend_sampler.py
Labels: stable backport potential, Changelog: Bugfix, automerge, mod: primitives

#9245 Fix `betas` calculation on `VQD` and async. cost evaluation
  qiskit/algorithms/eigensolvers/vqd.py
  releasenotes/notes/fix-vqd-betas-async-df99ab6e26e9da1e.yaml
  test/python/algorithms/eigensolvers/test_vqd.py
Labels: stable backport potential, Changelog: Bugfix, automerge, mod: algorithms

#9242 Handle `Initialize` on subsystem in `Statevector`
  qiskit/quantum_info/states/statevector.py
  test/python/quantum_info/states/test_statevector.py
Labels: automerge, Changelog: None

#9260 Adds references to documentation of algorithms/gradients.
  qiskit/algorithms/gradients/base_qfi.py
  qiskit/algorithms/gradients/finite_diff_estimator_gradient.py
  qiskit/algorithms/gradients/finite_diff_sampler_gradient.py
  qiskit/algorithms/gradients/param_shift_estimator_gradient.py
  qiskit/algorithms/gradients/param_shift_sampler_gradient.py
  qiskit/algorithms/gradients/spsa_estimator_gradient.py
  qiskit/algorithms/gradients/spsa_sampler_gradient.py
Labels: documentation, automerge, mod: algorithms, Changelog: None

#9225 Deprecate old path to QPY
  qiskit/circuit/qpy_serialization.py
  releasenotes/notes/deprecate-old-qpy-d39c754d82655400.yaml
  test/python/circuit/test_circuit_load_from_qpy.py
  test/qpy_compat/test_qpy.py
Labels: Changelog: Deprecation, automerge, mod: qpy

#9258 Fix `LinCombSamplerGradient` to leverage `AerSampler`
  qiskit/algorithms/gradients/lin_comb_sampler_gradient.py
  qiskit/algorithms/gradients/utils.py
  releasenotes/notes/fix-libcomb-sampler-gradient-d759d6b0e2659abe.yaml
Labels: Changelog: Bugfix, automerge, mod: algorithms

#9116 Oxidize SabreLayout pass
  qiskit/__init__.py
  qiskit/transpiler/passes/layout/sabre_layout.py
  qiskit/transpiler/passes/routing/sabre_swap.py
  qiskit/transpiler/preset_passmanagers/level0.py
  qiskit/transpiler/preset_passmanagers/level1.py
  qiskit/transpiler/preset_passmanagers/level2.py
  qiskit/transpiler/preset_passmanagers/level3.py
  releasenotes/notes/rusty-sabre-layout-2e1ca05d1902dcb5.yaml
  src/lib.rs
  src/nlayout.rs
  src/sabre_layout.rs
  src/sabre_swap/mod.rs
  test/python/transpiler/test_preset_passmanagers.py
  test/python/transpiler/test_sabre_layout.py
  test/python/transpiler/test_unitary_synthesis.py
  tox.ini
Labels: performance, Changelog: New Feature, Changelog: API Change, automerge, Rust, mod: transpiler

#9266 Fix random seed of Grover and PVQD with `algorithm_globals`
  qiskit/algorithms/amplitude_amplifiers/grover.py
  qiskit/algorithms/time_evolvers/pvqd/pvqd.py
  test/python/algorithms/test_grover.py
  test/python/algorithms/time_evolvers/test_pvqd.py
Labels: automerge

#9215 Various improvements to AdaptVQE
  qiskit/algorithms/minimum_eigensolvers/adapt_vqe.py
  releasenotes/notes/adapt-vqe-improvements-8617aaa94a6e6621.yaml
  test/python/algorithms/minimum_eigensolvers/test_adapt_vqe.py
Labels: Changelog: New Feature, automerge, mod: algorithms

#9267 Correct a comment of cphase definition
  qiskit/circuit/library/standard_gates/p.py
Labels: automerge, Changelog: None, Community PR

#9272 Pin ipywidgets
  constraints.txt
  requirements-dev.txt
Labels: type: qa, automerge, Changelog: None

#5657 Add the Solovay-Kitaev algorithm to the transpiler passes
  qiskit/synthesis/__init__.py
  qiskit/synthesis/discrete_basis/__init__.py
  qiskit/synthesis/discrete_basis/commutator_decompose.py
  qiskit/synthesis/discrete_basis/gate_sequence.py
  qiskit/synthesis/discrete_basis/generate_basis_approximations.py
  qiskit/synthesis/discrete_basis/solovay_kitaev.py
  qiskit/transpiler/passes/__init__.py
  qiskit/transpiler/passes/optimization/collect_1q_runs.py
  qiskit/transpiler/passes/optimization/consolidate_blocks.py
  qiskit/transpiler/passes/synthesis/__init__.py
  qiskit/transpiler/passes/synthesis/solovay_kitaev_synthesis.py
  releasenotes/notes/solovay-kitaev-transpiler-pass-bc256c2f3aac28c6.yaml
  setup.py
  test/python/transpiler/test_solovay_kitaev.py
Labels: Changelog: New Feature, automerge, synthesis, Community PR

#9276 Fix tox.ini
  tox.ini
Labels: type: qa, stable backport potential, automerge, Changelog: None

#9084 Refactor gradients for extensibility
  qiskit/algorithms/gradients/base_estimator_gradient.py
  qiskit/algorithms/gradients/base_sampler_gradient.py
  qiskit/algorithms/gradients/finite_diff_estimator_gradient.py
  qiskit/algorithms/gradients/finite_diff_sampler_gradient.py
  qiskit/algorithms/gradients/lin_comb_estimator_gradient.py
  qiskit/algorithms/gradients/lin_comb_sampler_gradient.py
  qiskit/algorithms/gradients/param_shift_estimator_gradient.py
  qiskit/algorithms/gradients/param_shift_sampler_gradient.py
  qiskit/algorithms/gradients/spsa_estimator_gradient.py
  qiskit/algorithms/gradients/spsa_sampler_gradient.py
  qiskit/algorithms/gradients/utils.py
  releasenotes/notes/refactor-gradient-d6d315cb256a17db.yaml
  test/python/algorithms/gradients/test_estimator_gradient.py
  test/python/algorithms/gradients/test_sampler_gradient.py
Labels: Changelog: New Feature, Changelog: Bugfix

#9278 Remove deprecated `measure` and `reset` circuit operations
  qiskit/circuit/measure.py
  qiskit/circuit/reset.py
  releasenotes/notes/remove-deprecated-ops-d01b83362c3557ca.yaml
  test/python/circuit/test_circuit_operations.py
Labels: Changelog: Removal, automerge

#9015 Update QuantumCircuit.barrier docstrings - Issue8076 Fix
  qiskit/circuit/barrier.py
Labels: documentation, stable backport potential, automerge, Changelog: None, Community PR

#9305 Fix NumPy 1.24.0 compatibility and pin `coverage<7.0`
  constraints.txt
  qiskit/algorithms/optimizers/snobfit.py
  qiskit/circuit/instruction.py
  qiskit/quantum_info/operators/channel/kraus.py
  requirements-dev.txt
  test/python/algorithms/optimizers/test_optimizers_scikitquant.py
  test/python/test_util.py
Labels: stable backport potential, automerge, Changelog: None

#9227 Refactor z2symmetries
  qiskit/quantum_info/analysis/z2_symmetries.py
  releasenotes/notes/add-sparsepauliop-based-z2symetries-1811e956c232f664.yaml
  test/python/quantum_info/test_sparse_z2_symmetries.py
Labels: Changelog: New Feature, automerge, mod: quantum info

#9156 param_qobj parameter is ignored by CircuitSampler
  qiskit/opflow/converters/circuit_sampler.py
  qiskit/utils/quantum_instance.py
  test/python/algorithms/test_measure_error_mitigation.py
  test/python/opflow/test_aer_pauli_expectation.py
Labels: automerge, mod: opflow, Changelog: None

#9262 Feature/trivial gate inversions
  qiskit/transpiler/passes/utils/gate_direction.py
  releasenotes/notes/fix-trivial-gate-inversions-1e39293d59bc6027.yaml
  test/python/transpiler/test_gate_direction.py
Labels: Changelog: Bugfix, automerge
