Repository Qiskit/qiskit, pull requests merged in 2023-12, with the labels that each got.

#11352 Remove non-API docs and tutorials
  .azure/tutorials-linux.yml
  .github/workflows/docs_deploy.yml
  azure-pipelines.yml
  docs/_static/images/1xp.png
  docs/_static/images/ibm_qlab.png
  docs/_static/images/strangeworks.png
  docs/api_redirects.txt
  docs/conf.py
  docs/configuration.rst
  docs/explanation/endianness.rst
  docs/explanation/index.rst
  docs/faq.rst
  docs/getting_started.rst
  docs/how_to/index.rst
  docs/how_to/use_estimator.rst
  docs/how_to/use_sampler.rst
  docs/images/favicon.ico
  docs/images/logo.png
  docs/images/noise_cancel.png
  docs/images/qiskit_nutshell.png
  docs/images/quantum_interference.png
  docs/images/system_error.png
  docs/images/system_one.jpeg
  docs/images/teleportation_detailed.png
  docs/index.rst
  docs/intro_tutorial1.rst
  docs/legacy_release_notes.rst
  docs/migration_guides/algorithms_migration.rst
  docs/migration_guides/index.rst
  docs/migration_guides/opflow_migration.rst
  docs/migration_guides/qi_migration.rst
  docs/qc_intro.rst
  docs/release_notes.rst
  docs/tutorials.rst
  docs/tutorials/circuits/01_circuit_basics.ipynb
  docs/tutorials/circuits/1_getting_started_with_qiskit.ipynb
  docs/tutorials/circuits/2_plotting_data_in_qiskit.ipynb
  docs/tutorials/circuits/3_summary_of_quantum_operations.ipynb
  docs/tutorials/circuits_advanced/01_advanced_circuits.ipynb
  docs/tutorials/circuits_advanced/02_operators_overview.ipynb
  docs/tutorials/circuits_advanced/03_advanced_circuit_visualization.ipynb
  docs/tutorials/circuits_advanced/04_transpiler_passes_and_passmanager.ipynb
  docs/tutorials/circuits_advanced/05_pulse_gates.ipynb
  docs/tutorials/circuits_advanced/06_building_pulse_schedules.ipynb
  docs/tutorials/circuits_advanced/07_pulse_scheduler.ipynb
  docs/tutorials/circuits_advanced/08_gathering_system_information.ipynb
  docs/tutorials/circuits_advanced/pulse_modulation.png
  qiskit/circuit/__init__.py
  releasenotes/notes/platform-support-f7f693aaf5dec044.yaml
  requirements-dev.txt
  requirements-optional.txt
  requirements-tutorials.txt
  tools/deploy_translatable_strings.sh
  tools/execute_tutorials.py
  tools/github_poBranch_update_key.enc
  tox.ini
Labels: documentation, Changelog: None

#11354 Run logical optimization passes in init stage
  qiskit/dagcircuit/dagcircuit.py
  qiskit/transpiler/preset_passmanagers/builtin_plugins.py
  test/python/transpiler/test_sabre_layout.py
Labels: Changelog: None, mod: transpiler

#11360 Remove Optimize1qGatesDecomposition from init stage
  qiskit/transpiler/preset_passmanagers/builtin_plugins.py
Labels: Changelog: None

#11361 Use new OpenQASM 2 export paths in randomised testing
  test/randomized/test_transpiler_equivalence.py
Labels: type: qa, randomized test, Changelog: None

#11362 Revert "Prepare 1.0.0b1 release"
  docs/conf.py
  qiskit/VERSION.txt
Labels: Changelog: None

#11367 Raise error eagerly on bad unitary synthesis method
  qiskit/transpiler/passes/synthesis/unitary_synthesis.py
  releasenotes/notes/move-synthesis-plugin-error-61e3683bf5a0c225.yaml
  test/python/transpiler/test_stage_plugin.py
Labels: Changelog: Bugfix, Community PR, mod: transpiler

#11375 Update Cargo workspace resolver method
  Cargo.lock
  Cargo.toml
Labels: type: qa, Changelog: None, Rust

#11024 Remove deprecated ParametricPulse classes
  qiskit/assembler/assemble_schedules.py
  qiskit/pulse/__init__.py
  qiskit/pulse/library/__init__.py
  qiskit/pulse/library/parametric_pulses.py
  qiskit/pulse/library/symbolic_pulses.py
  qiskit/pulse/parameter_manager.py
  qiskit/qobj/converters/pulse_instruction.py
  qiskit/visualization/pulse_v2/core.py
  qiskit/visualization/pulse_v2/generators/waveform.py
  qiskit/visualization/pulse_v2/interface.py
  qiskit/visualization/pulse_v2/layouts.py
  releasenotes/notes/releasenotes/notes/remove-deprecated-parametric-pulses-class-667e4b970e1163b3.yaml
  test/python/pulse/test_pulse_lib.py
Labels: Changelog: Removal, mod: pulse, Community PR

#11236 QFT circuit synthesis for linear nearest neighbor connectivity
  qiskit/synthesis/__init__.py
  qiskit/synthesis/qft/__init__.py
  qiskit/synthesis/qft/qft_decompose_lnn.py
  releasenotes/notes/qft_lnn_synthesis-c917dc00c3a8cabc.yaml
  test/python/synthesis/test_qft_synthesis.py
Labels: Changelog: New Feature, synthesis

#11095 Update backend model up-conversion logic
  qiskit/providers/backend_compat.py
  qiskit/providers/fake_provider/fake_backend.py
  releasenotes/notes/Update_backend_model_up_conversion_logic-75ecc2030a9fe6b1.yaml
  test/python/providers/test_fake_backends.py
  test/python/scheduler/test_basic_scheduler.py
Labels: Community PR

#11408 Pin `z3-solver` on macOS VMs
  constraints.txt
Labels: type: qa, stable backport potential, Changelog: None

#11382 Added additional check related to SymbolicPulse disable_validation
  qiskit/pulse/parameter_manager.py
  releasenotes/notes/symbolic-pulse-disable-validation-19cd8506b3a839b6.yaml
  test/python/pulse/test_parameter_manager.py
Labels: mod: pulse, Community PR

#11413 Fixed bug in OptimizeSwapBeforeMeasure
  qiskit/transpiler/passes/optimization/optimize_swap_before_measure.py
  releasenotes/notes/fix-optimize-swap-before-measure-67e8896da2215d49.yaml
  test/python/transpiler/test_optimize_swap_before_measure.py
Labels: stable backport potential, Changelog: Bugfix, Community PR, mod: transpiler

#11368 Fix a bug is StabilizerState repr
  qiskit/quantum_info/states/stabilizerstate.py
  releasenotes/notes/fix-stabilizerstate-repr-908c830028b1f868.yaml
  test/python/quantum_info/states/test_stabilizerstate.py
Labels: stable backport potential, Changelog: Bugfix

#11411 Add missing parameter in standard-gate mapping
  qiskit/circuit/library/standard_gates/__init__.py
  releasenotes/notes/standard-gate-mapping-parameters-2b438cea945c82cd.yaml
Labels: Changelog: Bugfix, mod: circuit

#11400 Remove NoiseAdaptiveLayout and CrosstalkAdaptiveSchedule
  pyproject.toml
  qiskit/compiler/transpiler.py
  qiskit/transpiler/passes/__init__.py
  qiskit/transpiler/passes/layout/__init__.py
  qiskit/transpiler/passes/layout/noise_adaptive_layout.py
  qiskit/transpiler/passes/optimization/__init__.py
  qiskit/transpiler/passes/optimization/crosstalk_adaptive_schedule.py
  qiskit/transpiler/preset_passmanagers/__init__.py
  qiskit/transpiler/preset_passmanagers/builtin_plugins.py
  qiskit/transpiler/preset_passmanagers/common.py
  qiskit/transpiler/preset_passmanagers/plugin.py
  releasenotes/notes/remove-old-noise-passes-7e157023a04f5f16.yaml
  test/benchmarks/mapping_passes.py
  test/benchmarks/transpiler_qualitative.py
  test/python/transpiler/test_crosstalk_adaptive_scheduler.py
  test/python/transpiler/test_noise_adaptive_layout.py
  test/python/transpiler/test_preset_passmanagers.py
  test/randomized/test_transpiler_equivalence.py
Labels: Changelog: Removal, mod: transpiler

#11389 Document how to use high level synthesis plugins
  qiskit/transpiler/passes/__init__.py
  qiskit/transpiler/passes/synthesis/high_level_synthesis.py
  qiskit/transpiler/passes/synthesis/plugin.py
  releasenotes/notes/high-level-synthesis-plugin-list-beff523921c4c4eb.yaml
Labels: documentation, Changelog: New Feature, synthesis, mod: transpiler

#11249 deprecate legacy pulse builder command
  qiskit/pulse/builder.py
  releasenotes/notes/Deprecate_legacy_pulse_builder_command-2a3c8dcbceae624e.yaml
  test/python/pulse/test_block.py
  test/python/pulse/test_builder.py
  test/python/pulse/test_builder_v2.py
  test/python/transpiler/test_calibrationbuilder.py
Labels: Changelog: Deprecation, mod: pulse, Community PR

#11107 Ensure `TemplateOptimization` returns native-symbolic objects
  qiskit/transpiler/passes/optimization/template_matching/template_substitution.py
  releasenotes/notes/template-match-symbols-c00786155f101e39.yaml
  test/python/transpiler/test_template_matching.py
Labels: Changelog: Bugfix, mod: transpiler

#11395 Remove Qobj input to `UnitarySimulatorPy.run`
  qiskit/providers/basicaer/unitary_simulator.py
  releasenotes/notes/remove-qobj-input-in-UnitarySimulatorPy-436c3a7c0dcc5eb6.yaml
Labels: Changelog: Removal, Community PR

#11394 Deprecate Qobj input to `UnitarySimulatorPy.run`
  qiskit/providers/basicaer/unitary_simulator.py
  releasenotes/notes/deprecate-qobj-input-in-UnitarySimulatorPy-7233ec171fa15bd8.yaml
Labels: Changelog: Deprecation, Community PR

#11427 Update pauli.py documentation
  qiskit/quantum_info/operators/symplectic/pauli.py
Labels: documentation, stable backport potential, mod: quantum info, Changelog: None, Community PR

#11424 Fix incorrect list of parameters in PauliTwoDesign documentation
  qiskit/circuit/library/n_local/pauli_two_design.py
Labels: documentation, stable backport potential, Changelog: None, Community PR

#11109 Add `ParameterExpression.numeric` to cast to number
  qiskit/circuit/parameterexpression.py
  qiskit/circuit/quantumcircuit.py
  qiskit/transpiler/passes/basis/basis_translator.py
  releasenotes/notes/parameterexpression.numeric-958d365dadabfb81.yaml
  test/python/circuit/test_parameters.py
Labels: Changelog: New Feature, mod: circuit

#11073 Documentation on building doc locally
  CONTRIBUTING.md
Labels: documentation, Changelog: None, Community PR

#10996 Remove Bit.register and Bit.index
  qiskit/circuit/bit.py
  releasenotes/notes/fixes_10744-83e5f33f5db74a22.yaml
  test/python/circuit/test_bit.py
Labels: Changelog: Removal, mod: circuit

#11434 Remove `QuantumCircuit.bind_parameters`
  qiskit/circuit/quantumcircuit.py
  releasenotes/notes/remove-bind-parameters-13da38072c28a881.yaml
  test/python/circuit/test_parameters.py
Labels: Changelog: Removal, mod: circuit

#11257 Deprecate qpy loading of old library pulses with complex `amp`
  qiskit/qpy/binary_io/schedules.py
  releasenotes/notes/deprecate-complex-amp-old-qpy-d3d183e84c395d9c.yaml
Labels: mod: pulse, mod: qpy

#11435 Fix LaTeX equations for KaTeX
  docs/conf.py
  qiskit/circuit/library/generalized_gates/rv.py
  qiskit/circuit/library/n_local/excitation_preserving.py
  qiskit/circuit/library/standard_gates/r.py
  qiskit/circuit/library/standard_gates/rx.py
  qiskit/circuit/library/standard_gates/rxx.py
  qiskit/circuit/library/standard_gates/ry.py
  qiskit/circuit/library/standard_gates/ryy.py
  qiskit/circuit/library/standard_gates/rzx.py
  qiskit/circuit/library/standard_gates/rzz.py
  qiskit/circuit/library/standard_gates/u.py
  qiskit/circuit/library/standard_gates/u3.py
  qiskit/circuit/library/standard_gates/xx_minus_yy.py
  qiskit/circuit/library/standard_gates/xx_plus_yy.py
  requirements-dev.txt
Labels: documentation, stable backport potential, Changelog: None

#11260 Add qpy deprecation warning class
  qiskit/qpy/__init__.py
  qiskit/qpy/binary_io/schedules.py
  qiskit/qpy/exceptions.py
  releasenotes/notes/add-qpy-loading-depr-warning-8628b23ca63c3eb5.yaml
Labels: Changelog: New Feature, mod: qpy

#11428 Track `QuantumCircuit.global_phase` in `ParameterTable`
  qiskit/circuit/parametertable.py
  qiskit/circuit/quantumcircuit.py
  test/python/circuit/test_circuit_operations.py
Labels: Changelog: None, mod: circuit

#11440 Remove errant algorithms test file
  test/python/algorithms/test_skip_qobj_validation.py
Labels: type: qa, Changelog: None

#11436 Remove Qiskit Terra 0.25 from release_notes.rst
  docs/release_notes.rst
Labels: stable backport potential, Changelog: None

#11437 Cache open_ctrl field in controlled gates
  qiskit/circuit/controlledgate.py
Labels: performance, Changelog: None, mod: circuit

#11202 Add drawer support for AnnotatedOperations
  qiskit/visualization/circuit/_utils.py
  qiskit/visualization/circuit/matplotlib.py
  qiskit/visualization/circuit/text.py
  releasenotes/notes/add-annotated-to-drawers-8bcc3a069dd981ad.yaml
  test/python/visualization/test_circuit_text_drawer.py
  test/visual/mpl/circuit/references/annotated.png
  test/visual/mpl/circuit/test_circuit_matplotlib_drawer.py
Labels: Changelog: Bugfix, mod: visualization
