Repository Qiskit/qiskit, pull requests merged in 2024-07, with the labels that each got.

#12639 Add Rust representation for CHGate, CPhaseGate, CSGate, CSdgGate, CSXGate, CSwapGate
  crates/circuit/src/gate_matrix.rs
  crates/circuit/src/operations.rs
  qiskit/circuit/library/standard_gates/h.py
  qiskit/circuit/library/standard_gates/p.py
  qiskit/circuit/library/standard_gates/s.py
  qiskit/circuit/library/standard_gates/swap.py
  qiskit/circuit/library/standard_gates/sx.py
  qiskit/circuit/quantumcircuit.py
  test/python/circuit/test_rust_equivalence.py
Labels: performance, Changelog: None, Rust, mod: circuit

#12669 Encapsulate Python sequence-like indexers
  Cargo.lock
  Cargo.toml
  crates/accelerate/Cargo.toml
  crates/accelerate/src/euler_one_qubit_decomposer.rs
  crates/accelerate/src/two_qubit_decompose.rs
  crates/circuit/Cargo.toml
  crates/circuit/src/circuit_data.rs
  crates/circuit/src/lib.rs
  crates/circuit/src/slice.rs
Labels: type: qa, Changelog: None, Rust

#12637 Fix `replace_block_with_op` on operations with wrong number of qubits
  qiskit/dagcircuit/dagcircuit.py
  qiskit/transpiler/passes/routing/commuting_2q_gate_routing/pauli_2q_evolution_commutation.py
  releasenotes/notes/raise-on-illegal-replace-block-50cef8da757a580a.yaml
  test/python/dagcircuit/test_dagcircuit.py
Labels: stable backport potential, Changelog: Bugfix

#12458 Add warning for bad `justify` input, in `circuit_drawer`
  qiskit/circuit/quantumcircuit.py
  qiskit/visualization/circuit/_utils.py
  qiskit/visualization/circuit/circuit_visualization.py
  releasenotes/notes/circuit-draw-warn-justify-03434d30cccda452.yaml
  test/python/visualization/test_circuit_drawer.py
Labels: Changelog: Deprecation, Community PR

#12698 Expose operation conversion methods to other crates.
  crates/circuit/src/circuit_instruction.rs
Labels: Rust

#12604 Fix bad Sphinx syntax in several release notes and in API documentaiton
  qiskit/pulse/schedule.py
  releasenotes/notes/1.1/parameter_assignment_by_name_for_pulse_schedules-3a27bbbbf235fb9e.yaml
  releasenotes/notes/1.1/pauli-apply-layout-cdcbc1bce724a150.yaml
  releasenotes/notes/outcome_bitstring_target_for_probabilities_dict-e53f524d115bbcfc.yaml
Labels: documentation, stable backport potential, Changelog: None, Community PR

#12692 Enable avoiding Python operation creation in transpiler
  crates/circuit/src/circuit_data.rs
  crates/circuit/src/circuit_instruction.rs
  crates/circuit/src/dag_node.rs
  crates/circuit/src/imports.rs
  crates/circuit/src/operations.rs
  qiskit/converters/circuit_to_dag.py
  qiskit/converters/dag_to_circuit.py
  qiskit/dagcircuit/dagcircuit.py
  qiskit/transpiler/passes/synthesis/unitary_synthesis.py
  qiskit/transpiler/passes/utils/check_gate_direction.py
Labels: performance, Changelog: None, Rust, mod: transpiler, mod: circuit

#12543 Oxidize `synth_permutation_acg`
  crates/accelerate/src/synthesis/permutation/mod.rs
  crates/accelerate/src/synthesis/permutation/utils.rs
  qiskit/synthesis/permutation/permutation_full.py
  qiskit/synthesis/permutation/permutation_utils.py
  releasenotes/notes/oxidize-acg-0294a87c0d5974fa.yaml
Labels: synthesis, Rust

#12710 Fix cargo clippy and rustfmt for Rust 1.79
  crates/accelerate/src/synthesis/permutation/utils.rs
Labels: type: qa, Changelog: None, Rust

#12650 Use rust gates for Optimize1QGatesDecomposition
  crates/accelerate/src/euler_one_qubit_decomposer.rs
  crates/accelerate/src/two_qubit_decompose.rs
  crates/circuit/src/dag_node.rs
  crates/circuit/src/operations.rs
  qiskit/dagcircuit/dagcircuit.py
  qiskit/synthesis/one_qubit/one_qubit_decompose.py
  qiskit/transpiler/passes/optimization/optimize_1q_decomposition.py
Labels: performance, Changelog: None, synthesis, Rust, mod: transpiler

#12601 Port `synth_clifford_greedy` to Rust
  crates/accelerate/src/synthesis/clifford/greedy_synthesis.rs
  crates/accelerate/src/synthesis/clifford/mod.rs
  crates/accelerate/src/synthesis/clifford/utils.rs
  crates/accelerate/src/synthesis/linear/mod.rs
  crates/accelerate/src/synthesis/mod.rs
  qiskit/__init__.py
  qiskit/synthesis/clifford/clifford_decompose_greedy.py
  releasenotes/notes/oxidize-synth-clifford-greedy-0739e9688bc4eedd.yaml
  test/python/synthesis/test_clifford_sythesis.py
Labels: performance, synthesis, Rust

#12112 Add Uniform State Preparation
  qiskit/circuit/library/data_preparation/__init__.py
  qiskit/circuit/library/data_preparation/state_preparation.py
  releasenotes/notes/uniform-superposition-gate-3bd95ffdf05ef18c.yaml
  test/python/circuit/test_gate_definitions.py
  test/python/circuit/test_uniform_superposition_gate.py
Labels: Changelog: New Feature, Community PR

#12715 fixing synthesis release notes
  releasenotes/notes/oxidize-acg-0294a87c0d5974fa.yaml
  releasenotes/notes/oxidize-permbasic-be27578187ac472f.yaml
  releasenotes/notes/oxidize-synth-clifford-greedy-0739e9688bc4eedd.yaml
Labels: Changelog: None

#12701 Avoid Python op creation in commutative cancellation
  crates/circuit/src/circuit_instruction.rs
  crates/circuit/src/dag_node.rs
  crates/circuit/src/operations.rs
  qiskit/circuit/commutation_checker.py
  qiskit/transpiler/passes/optimization/commutation_analysis.py
  qiskit/transpiler/passes/optimization/commutative_cancellation.py
Labels: performance, Changelog: None, Rust, mod: transpiler, mod: circuit

#12689 Fixed typos leading to missing examples
  qiskit/transpiler/layout.py
Labels: documentation, stable backport potential, Changelog: None, Community PR

#12652 Add warning about Tweedledum support in ClassicalFunction
  qiskit/circuit/classicalfunction/__init__.py
Labels: documentation, stable backport potential, Changelog: None, Community PR

#12593 Accept `Option<&str>` instead of `&Option<String>`, etc
  crates/circuit/src/circuit_data.rs
  crates/circuit/src/parameter_table.rs
Labels: type: qa, Changelog: None, Rust

#12678 Fixed typo in RZZGate
  qiskit/circuit/library/standard_gates/rzz.py
Labels: Community PR

#12719 Optimize DAGCircuit.collect_1q_runs() filter function
  crates/accelerate/src/euler_one_qubit_decomposer.rs
Labels: performance, Changelog: None, Rust

#12463 set a dummy QISKIT_SETTINGS so tests do not interact with local env
  test/utils/base.py
Labels: type: qa

#12588 Oxidize `synth_cnot_count_full_pmh`
  crates/accelerate/src/synthesis/linear/mod.rs
  crates/accelerate/src/synthesis/linear/pmh.rs
  qiskit/synthesis/linear/cnot_synth.py
  releasenotes/notes/oxidize-pmh-ec74e4002510eaad.yaml
  test/python/synthesis/test_linear_synthesis.py
Labels: performance, synthesis, Rust

#12723 Revert "set a dummy QISKIT_SETTINGS so tests do not interact with local env"
  test/utils/base.py
Labels: type: qa, Changelog: None

#12720 Simplify base TestCases
  test/utils/base.py
Labels: type: qa, Changelog: None

#9687 Improved MCXVChain with dirty auxiliary qubits
  qiskit/circuit/library/standard_gates/x.py
  releasenotes/notes/mcxvchain_dirty_auxiliary-5ea4037557209f6e.yaml
  test/python/circuit/test_controlled_gate.py
Labels: Changelog: New Feature, Community PR, mod: circuit

#10701 Minor updates to the readme language
  README.md
Labels: documentation

#12731 Update transpiler docs
  qiskit/transpiler/__init__.py
Labels: documentation, stable backport potential, Changelog: None

#12716 Add ``PySequenceIndex::convert_index`` to convert Python-like indices to unsigned
  crates/accelerate/src/synthesis/permutation/utils.rs
  crates/circuit/src/slice.rs
Labels: Changelog: None, Rust

#12724 Improve the performance of the `ProductFormula` synthesizers
  qiskit/circuit/quantumcircuit.py
  qiskit/synthesis/evolution/evolution_synthesis.py
  qiskit/synthesis/evolution/lie_trotter.py
  qiskit/synthesis/evolution/product_formula.py
  qiskit/synthesis/evolution/qdrift.py
  qiskit/synthesis/evolution/suzuki_trotter.py
  releasenotes/notes/product-formula-improvements-1bc40650151cf107.yaml
  test/python/circuit/library/test_evolution_gate.py
Labels: performance, Changelog: Deprecation, Changelog: New Feature

#12704 Use rust gates for ConsolidateBlocks
  crates/accelerate/src/convert_2q_block_matrix.rs
  crates/circuit/src/bit_data.rs
  crates/circuit/src/imports.rs
  crates/circuit/src/lib.rs
  qiskit/dagcircuit/dagcircuit.py
  qiskit/transpiler/passes/optimization/consolidate_blocks.py
  qiskit/transpiler/passes/utils/__init__.py
  qiskit/transpiler/passes/utils/block_to_matrix.py
Labels: performance, Changelog: None, Rust, mod: transpiler

#12742 Fix `C3SXGate` `to_matrix` method
  qiskit/circuit/library/standard_gates/x.py
  releasenotes/notes/fix-c3sx-gate-matrix-050cf9f9ac3b2b82.yaml
  test/python/circuit/test_controlled_gate.py
  test/python/circuit/test_rust_equivalence.py
Labels: Changelog: Bugfix

#11463 Adding QFT gate to natively reason about Quantum Fourier Transforms
  pyproject.toml
  qiskit/circuit/library/__init__.py
  qiskit/circuit/library/basis_change/__init__.py
  qiskit/circuit/library/basis_change/qft.py
  qiskit/qpy/binary_io/circuits.py
  qiskit/synthesis/__init__.py
  qiskit/synthesis/qft/__init__.py
  qiskit/synthesis/qft/qft_decompose_full.py
  qiskit/synthesis/qft/qft_decompose_lnn.py
  qiskit/transpiler/passes/synthesis/high_level_synthesis.py
  releasenotes/notes/add-qft-gate-fd4e08f6721a9da4.yaml
  test/python/circuit/library/test_qft.py
  test/python/circuit/test_gate_definitions.py
  test/python/synthesis/test_qft_synthesis.py
  test/python/transpiler/test_high_level_synthesis.py
Labels: Changelog: New Feature, synthesis, mod: circuit

#12705 Avoid Python op creation in BasisTranslator
  crates/circuit/src/dag_node.rs
  qiskit/transpiler/passes/basis/basis_translator.py
Labels: performance, Changelog: None, Rust, mod: transpiler

#12753 Some formatting issues in Pauli docs
  qiskit/quantum_info/operators/symplectic/pauli.py
Labels: documentation, Changelog: None

#12756 Use rustworkx 0.15.0 features in DAGCircuit.remove_op_node
  qiskit/dagcircuit/dagcircuit.py
  releasenotes/notes/update-rustworkx-min-version-4f07aacfebccae80.yaml
  requirements.txt
Labels: performance, Changelog: API Change, mod: transpiler

#12750 Add clifford gates to collect_cliffords
  qiskit/circuit/random/utils.py
  qiskit/transpiler/passes/optimization/collect_cliffords.py
  releasenotes/notes/fix-collect-clifford-83af26d98b8c69e8.yaml
Labels: stable backport potential, Changelog: Bugfix, mod: quantum info, mod: transpiler

#12721 Remove some of the entries in allow_DeprecationWarning
  qiskit/circuit/instruction.py
  test/utils/base.py
Labels: type: qa, Changelog: None

#12766 Make `CircuitData` inner data accessible in Rust
  crates/circuit/src/circuit_data.rs
  crates/circuit/src/circuit_instruction.rs
Labels: Changelog: None, Rust, mod: circuit

#12709 Finalize Rust representation for standard gates
  crates/circuit/src/gate_matrix.rs
  crates/circuit/src/imports.rs
  crates/circuit/src/operations.rs
  test/python/circuit/test_rust_equivalence.py
Labels: Changelog: None, Rust, mod: circuit

#12739 Oxidize two qubit local invariance functions
  crates/accelerate/src/two_qubit_decompose.rs
  qiskit/synthesis/two_qubit/local_invariance.py
Labels: performance, Changelog: None, synthesis, Rust

#12775 Fix pass-manager drawing tests for pydot 3.0
  constraints.txt
  qiskit/visualization/pass_manager_visualization.py
  test/python/visualization/references/pass_manager_standard.dot
  test/python/visualization/references/pass_manager_style.dot
  test/python/visualization/test_pass_manager_drawer.py
Labels: type: qa, stable backport potential, Changelog: None, mod: visualization

#12772 Update MCX recursive synthesis method to reduce number of CX gates
  qiskit/circuit/library/standard_gates/x.py
  releasenotes/notes/mcx_recursive_clean_ancilla-2b0f6956e0f4cbbd.yaml
  test/python/circuit/test_circuit_qasm.py
  test/python/circuit/test_controlled_gate.py
  test/python/qasm2/test_export.py
Labels: Changelog: New Feature, synthesis, mod: circuit

#12670 Fixing and documenting how the `Estimator` calculates stds
  qiskit/primitives/backend_estimator_v2.py
  releasenotes/notes/backend-estimator-v2-variance-905c953415ad0e29.yaml
Labels: Changelog: Bugfix, mod: primitives

#12714 Port `synth_clifford_bm` to Rust.
  crates/accelerate/src/synthesis/clifford/bm_synthesis.rs
  crates/accelerate/src/synthesis/clifford/mod.rs
  crates/accelerate/src/synthesis/clifford/utils.rs
  qiskit/synthesis/clifford/__init__.py
  qiskit/synthesis/clifford/clifford_decompose_ag.py
  qiskit/synthesis/clifford/clifford_decompose_bm.py
  releasenotes/notes/oxidize-synth-clifford-bm-91d8b974ca0522b7.yaml
  test/python/synthesis/test_clifford_sythesis.py
Labels: performance, synthesis, Rust

#12786 Point Code of Conduct to the docs site
  CODE_OF_CONDUCT.md
Labels: stable backport potential

#12776 Rewrite OpenQASM 3 exporter symbol table
  crates/circuit/src/operations.rs
  qiskit/qasm3/ast.py
  qiskit/qasm3/exporter.py
  qiskit/qasm3/printer.py
  releasenotes/notes/qasm3-symbol-table-efad35629639c77d.yaml
  test/python/qasm3/test_export.py
Labels: priority: high, Changelog: New Feature, Changelog: Bugfix, mod: qasm3

#12686 Validate `order` kwarg in `BitArray.from_bool_array()`
  qiskit/primitives/containers/bit_array.py
  releasenotes/notes/fix-kwarg-validation-BitArray-1bf542a1fb5c15c6.yaml
  test/python/primitives/containers/test_bit_array.py
Labels: Changelog: Bugfix, mod: primitives, Community PR

#12746 Port `synth_permutation_depth_lnn_kms` to Rust
  crates/accelerate/src/synthesis/permutation/mod.rs
  crates/accelerate/src/synthesis/permutation/utils.rs
  qiskit/synthesis/permutation/permutation_lnn.py
  releasenotes/notes/synth_permutation_depth_lnn_kms-c444f3a363f3a903.yaml
Labels: performance, synthesis, Rust, Intern PR

#12387 Update version of OpenQASM 3.0 standard library
  qiskit/qasm/libs/stdgates.inc
  releasenotes/notes/update-qasm3-lib-40e15bc24234970d.yaml
Labels: Changelog: New Feature, mod: qasm3

#12804 Add troubleshooting section to docs-build dev docs
  CONTRIBUTING.md
Labels: documentation, stable backport potential, Changelog: None

#12730 Rebalance `CircuitInstruction` and `PackedInstruction`
  Cargo.lock
  Cargo.toml
  crates/accelerate/src/convert_2q_block_matrix.rs
  crates/accelerate/src/euler_one_qubit_decomposer.rs
  crates/circuit/Cargo.toml
  crates/circuit/src/circuit_data.rs
  crates/circuit/src/circuit_instruction.rs
  crates/circuit/src/dag_node.rs
  crates/circuit/src/lib.rs
  crates/circuit/src/operations.rs
  crates/circuit/src/packed_instruction.rs
  qiskit/circuit/commutation_checker.py
  qiskit/circuit/instructionset.py
  qiskit/circuit/quantumcircuit.py
  qiskit/converters/circuit_to_dag.py
  qiskit/converters/circuit_to_instruction.py
  qiskit/converters/dag_to_circuit.py
  qiskit/dagcircuit/dagcircuit.py
  qiskit/transpiler/passes/basis/basis_translator.py
  qiskit/transpiler/passes/optimization/optimize_1q_decomposition.py
  qiskit/transpiler/passes/synthesis/unitary_synthesis.py
  test/python/circuit/test_circuit_data.py
  test/python/circuit/test_compose.py
  test/python/circuit/test_controlled_gate.py
  test/python/circuit/test_rust_equivalence.py
Labels: priority: high, performance, Changelog: None, Rust, mod: circuit

#12740 Use Rust gates for 2q unitary synthesis
  crates/accelerate/src/convert_2q_block_matrix.rs
  crates/accelerate/src/euler_one_qubit_decomposer.rs
  crates/accelerate/src/two_qubit_decompose.rs
  crates/circuit/src/circuit_instruction.rs
  crates/circuit/src/operations.rs
  crates/circuit/src/packed_instruction.rs
  qiskit/synthesis/two_qubit/two_qubit_decompose.py
  qiskit/transpiler/passes/synthesis/unitary_synthesis.py
Labels: performance, Changelog: None, synthesis, Rust, mod: transpiler

#12762 Move `generate_preset_pass_manager` to a standalone file
  qiskit/__init__.py
  qiskit/compiler/scheduler.py
  qiskit/transpiler/__init__.py
  qiskit/transpiler/instruction_durations.py
  qiskit/transpiler/passes/basis/translate_parameterized.py
  qiskit/transpiler/passes/calibration/rx_builder.py
  qiskit/transpiler/passes/layout/sabre_pre_layout.py
  qiskit/transpiler/passes/layout/set_layout.py
  qiskit/transpiler/passes/routing/commuting_2q_gate_routing/commuting_2q_gate_router.py
  qiskit/transpiler/passes/routing/commuting_2q_gate_routing/swap_strategy.py
  qiskit/transpiler/passes/routing/layout_transformation.py
  qiskit/transpiler/passes/routing/star_prerouting.py
  qiskit/transpiler/passes/scheduling/alap.py
  qiskit/transpiler/passes/scheduling/alignments/check_durations.py
  qiskit/transpiler/passes/scheduling/alignments/pulse_gate_validation.py
  qiskit/transpiler/passes/scheduling/alignments/reschedule.py
  qiskit/transpiler/passes/scheduling/asap.py
  qiskit/transpiler/passes/scheduling/base_scheduler.py
  qiskit/transpiler/passes/scheduling/dynamical_decoupling.py
  qiskit/transpiler/passes/scheduling/padding/dynamical_decoupling.py
  qiskit/transpiler/passes/scheduling/scheduling/base_scheduler.py
  qiskit/transpiler/passes/synthesis/unitary_synthesis.py
  qiskit/transpiler/passes/utils/convert_conditions_to_if_ops.py
  qiskit/transpiler/preset_passmanagers/__init__.py
  qiskit/transpiler/preset_passmanagers/generate_preset_pass_manager.py
  releasenotes/notes/add-generate-preset-pm-global-import-efb12f185f3f738b.yaml
  tools/pgo_scripts/test_utility_scale.py
Labels: Changelog: New Feature, mod: transpiler

#12785 Deprecate accidentally public internal helper methods on QuantumCircuit
  qiskit/circuit/library/standard_gates/multi_control_rotation_gates.py
  qiskit/circuit/quantumcircuit.py
  qiskit/circuit/quantumcircuitdata.py
  releasenotes/notes/deprecate-circuit-internal-helpers-ee65fbac455de47c.yaml
Labels: Changelog: Deprecation, mod: circuit

#12563 Oxidize TwoQubitDecomposeUpToDiagonal
  crates/accelerate/src/two_qubit_decompose.rs
  qiskit/synthesis/two_qubit/two_qubit_decompose.py
  qiskit/synthesis/unitary/qsd.py
  test/python/synthesis/test_synthesis.py
Labels: Changelog: None, synthesis, Rust

#12511 fix issue/12311 with fractional gate in basis
  qiskit/transpiler/passes/synthesis/unitary_synthesis.py
  test/python/transpiler/test_basis_translator.py
Labels: stable backport potential, Changelog: Bugfix

#12649 Deprecate Qobj and assemble
  qiskit/assembler/assemble_circuits.py
  qiskit/assembler/disassemble.py
  qiskit/circuit/instruction.py
  qiskit/compiler/assembler.py
  qiskit/providers/basic_provider/basic_simulator.py
  qiskit/providers/fake_provider/fake_openpulse_2q.py
  qiskit/providers/fake_provider/fake_openpulse_3q.py
  qiskit/providers/fake_provider/generic_backend_v2.py
  qiskit/providers/models/pulsedefaults.py
  qiskit/qobj/common.py
  qiskit/qobj/converters/lo_config.py
  qiskit/qobj/converters/pulse_instruction.py
  qiskit/qobj/pulse_qobj.py
  qiskit/qobj/qasm_qobj.py
  qiskit/qobj/utils.py
  qiskit/result/models.py
  qiskit/result/result.py
  releasenotes/notes/deprecate_assemble-67486b4d0a8d4f96.yaml
  test/benchmarks/assembler.py
  test/python/circuit/test_diagonal_gate.py
  test/python/circuit/test_hamiltonian_gate.py
  test/python/circuit/test_initializer.py
  test/python/circuit/test_parameters.py
  test/python/circuit/test_scheduled_circuit.py
  test/python/circuit/test_unitary.py
  test/python/compiler/test_assembler.py
  test/python/compiler/test_compiler.py
  test/python/compiler/test_disassembler.py
  test/python/providers/basic_provider/test_basic_simulator.py
  test/python/providers/test_fake_backends.py
  test/python/pulse/test_calibration_entries.py
  test/python/pulse/test_instruction_schedule_map.py
  test/python/qobj/test_pulse_converter.py
  test/python/qobj/test_qobj.py
  test/python/qobj/test_qobj_identifiers.py
  test/python/result/test_result.py
  test/python/transpiler/test_preset_passmanagers.py
  test/python/transpiler/test_sabre_swap.py
  test/python/transpiler/test_star_prerouting.py
  test/utils/base.py
Labels: priority: high

#12575 Deprecate V1 Primitives and their utils
  qiskit/primitives/backend_estimator.py
  qiskit/primitives/backend_sampler.py
  qiskit/primitives/base/base_estimator.py
  qiskit/primitives/base/base_primitive.py
  qiskit/primitives/base/base_result.py
  qiskit/primitives/base/base_sampler.py
  qiskit/primitives/base/estimator_result.py
  qiskit/primitives/base/sampler_result.py
  qiskit/primitives/estimator.py
  qiskit/primitives/sampler.py
  qiskit/primitives/utils.py
  releasenotes/notes/deprecate-primitives-v1.yaml
  test/python/primitives/test_backend_estimator.py
  test/python/primitives/test_backend_sampler.py
  test/python/primitives/test_estimator.py
  test/python/primitives/test_sampler.py
  test/python/primitives/test_utils.py
  test/python/quantum_info/operators/symplectic/test_pauli.py
  test/python/quantum_info/operators/symplectic/test_sparse_pauli_op.py
Labels: priority: high, Changelog: Deprecation, mod: primitives, Community PR

#12292 Adding `Target` and `InstructionProperties` representations to rust
  crates/accelerate/src/lib.rs
  crates/accelerate/src/target_transpiler/errors.rs
  crates/accelerate/src/target_transpiler/instruction_properties.rs
  crates/accelerate/src/target_transpiler/mod.rs
  crates/accelerate/src/target_transpiler/nullable_index_map.rs
  crates/pyext/src/lib.rs
  qiskit/__init__.py
  qiskit/transpiler/target.py
Labels: priority: high, API, enhancement, Rust, mod: transpiler

#12800 Fix `BitArray.from_counts`/`from_samples` to not fail for input with only `0` outcome and `num_bits=None`
  qiskit/primitives/containers/bit_array.py
  releasenotes/notes/fix-bitarray-fromcounts-nobits-82958a596b3489ec.yaml
  test/python/primitives/containers/test_bit_array.py
Labels: Changelog: Bugfix, mod: primitives, Community PR

#12287 fixes #9355 deprecate visualize_transition
  qiskit/visualization/transition_visualization.py
  releasenotes/notes/deprecate-visualize_transition-8c1d257b7f37aa58.yaml
Labels: stable backport potential, Changelog: Deprecation, Community PR

#12769 Setting noise_info to false in GenericBackendV2 creates issues later in the transpiler pipeline
  qiskit/providers/fake_provider/generic_backend_v2.py
  test/python/providers/fake_provider/test_generic_backend_v2.py
Labels: stable backport potential, Changelog: None, mod: fake_provider

#12752 Add `AnnotatedOperation.params` and fix some control issues
  qiskit/circuit/annotated_operation.py
  qiskit/circuit/gate.py
  qiskit/circuit/library/generalized_gates/unitary.py
  qiskit/circuit/library/standard_gates/h.py
  qiskit/circuit/library/standard_gates/multi_control_rotation_gates.py
  qiskit/circuit/library/standard_gates/p.py
  qiskit/circuit/library/standard_gates/rx.py
  qiskit/circuit/library/standard_gates/rxx.py
  qiskit/circuit/library/standard_gates/ry.py
  qiskit/circuit/library/standard_gates/ryy.py
  qiskit/circuit/library/standard_gates/rz.py
  qiskit/circuit/library/standard_gates/rzx.py
  qiskit/circuit/library/standard_gates/rzz.py
  qiskit/circuit/library/standard_gates/s.py
  qiskit/circuit/library/standard_gates/swap.py
  qiskit/circuit/library/standard_gates/sx.py
  qiskit/circuit/library/standard_gates/u.py
  qiskit/circuit/library/standard_gates/u1.py
  qiskit/circuit/library/standard_gates/u3.py
  qiskit/circuit/library/standard_gates/x.py
  qiskit/circuit/library/standard_gates/xx_minus_yy.py
  qiskit/circuit/library/standard_gates/xx_plus_yy.py
  qiskit/circuit/library/standard_gates/y.py
  qiskit/circuit/library/standard_gates/z.py
  qiskit/circuit/quantumcircuit.py
  releasenotes/notes/annotated-params-116288d5628f7ee8.yaml
  test/python/circuit/test_annotated_operation.py
  test/python/circuit/test_controlled_gate.py
Labels: stable backport potential, Changelog: New Feature, Changelog: Bugfix

#12827 Allow overriding Rust toolchain in `tox` runs
  tox.ini
Labels: type: qa, stable backport potential, Changelog: None

#12824 Primitive V1 deprecation follow-up
  qiskit/primitives/backend_estimator.py
  qiskit/primitives/backend_sampler.py
  qiskit/primitives/base/base_estimator.py
  qiskit/primitives/base/base_sampler.py
  qiskit/primitives/estimator.py
  qiskit/primitives/primitive_job.py
  qiskit/primitives/sampler.py
  qiskit/primitives/statevector_estimator.py
  qiskit/primitives/statevector_sampler.py
  releasenotes/notes/deprecate-primitives-v1.yaml
Labels: stable backport potential, Changelog: None, mod: primitives

#12693 Bitarray postselect
  qiskit/primitives/containers/bit_array.py
  releasenotes/notes/bitarray-postselect-659b8f7801ccaa60.yaml
  test/python/primitives/containers/test_bit_array.py
Labels: stable backport potential, Changelog: New Feature, mod: primitives

#12660 Deprecate fake backends based on BackendV1
  qiskit/providers/fake_provider/fake_backend.py
  qiskit/providers/fake_provider/generic_backend_v2.py
  qiskit/visualization/circuit/_utils.py
  test/python/circuit/test_parameters.py
  test/python/circuit/test_scheduled_circuit.py
  test/python/compiler/test_assembler.py
  test/python/compiler/test_compiler.py
  test/python/compiler/test_disassembler.py
  test/python/compiler/test_scheduler.py
  test/python/compiler/test_sequencer.py
  test/python/compiler/test_transpiler.py
  test/python/legacy_cmaps.py
  test/python/primitives/test_backend_estimator.py
  test/python/primitives/test_backend_estimator_v2.py
  test/python/primitives/test_backend_sampler.py
  test/python/primitives/test_backend_sampler_v2.py
  test/python/primitives/test_primitive.py
  test/python/providers/fake_provider/test_fake_backends.py
  test/python/providers/fake_provider/test_generic_backend_v2.py
  test/python/providers/test_backend_v2.py
  test/python/providers/test_backendconfiguration.py
  test/python/providers/test_backendproperties.py
  test/python/providers/test_backendstatus.py
  test/python/providers/test_fake_backends.py
  test/python/providers/test_pulse_defaults.py
  test/python/pulse/test_block.py
  test/python/pulse/test_builder.py
  test/python/pulse/test_builder_v2.py
  test/python/pulse/test_instruction_schedule_map.py
  test/python/pulse/test_macros.py
  test/python/pulse/test_schedule.py
  test/python/pulse/test_transforms.py
  test/python/qpy/test_circuit_load_from_qpy.py
  test/python/result/test_mitigators.py
  test/python/scheduler/test_basic_scheduler.py
  test/python/transpiler/test_1q.py
  test/python/transpiler/test_calibrationbuilder.py
  test/python/transpiler/test_echo_rzx_weyl_decomposition.py
  test/python/transpiler/test_instruction_durations.py
  test/python/transpiler/test_passmanager_config.py
  test/python/transpiler/test_passmanager_run.py
  test/python/transpiler/test_preset_passmanagers.py
  test/python/transpiler/test_pulse_gate_pass.py
  test/python/transpiler/test_sabre_layout.py
  test/python/transpiler/test_sabre_swap.py
  test/python/transpiler/test_star_prerouting.py
  test/python/transpiler/test_stochastic_swap.py
  test/python/transpiler/test_target.py
  test/python/transpiler/test_unitary_synthesis.py
  test/python/transpiler/test_vf2_layout.py
  test/python/transpiler/test_vf2_post_layout.py
  test/python/visualization/test_circuit_drawer.py
  test/python/visualization/test_circuit_latex.py
  test/python/visualization/test_gate_map.py
Labels: priority: high, stable backport potential, Changelog: Deprecation, mod: fake_provider

#12780 Add config option to leverage all cores for sabre
  qiskit/transpiler/preset_passmanagers/builtin_plugins.py
  qiskit/user_config.py
  releasenotes/notes/add-sabre-all-threads-option-ad4ff7a4d045cb2b.yaml
Labels: stable backport potential, Changelog: New Feature, mod: transpiler

#12755 Make `BitArray.{slice_bits,slice_shots,__getitem__}` raise `IndexError` when indices are not valid
  qiskit/primitives/containers/bit_array.py
  releasenotes/notes/fix-bitarray-slice-bits-shots-c9cb7e5d907722f5.yaml
  test/python/primitives/containers/test_bit_array.py
Labels: stable backport potential, Changelog: Bugfix, mod: primitives

#12761 Port `star_preroute` to rust
  crates/accelerate/src/lib.rs
  crates/accelerate/src/sabre/mod.rs
  crates/accelerate/src/star_prerouting.rs
  crates/pyext/src/lib.rs
  qiskit/__init__.py
  qiskit/transpiler/passes/routing/star_prerouting.py
  releasenotes/notes/port_star_prerouting-13fae3ff78feb5e3.yaml
  test/python/transpiler/test_star_prerouting.py
Labels: stable backport potential, performance, Changelog: New Feature, Rust, mod: transpiler

#12806 Change the default `routing_method` to `sabre`
  qiskit/transpiler/preset_passmanagers/level0.py
  releasenotes/notes/sabre_level0-1524f01965257f3f.yaml
Labels: stable backport potential, Changelog: API Change, mod: transpiler

#12842 Fix `StatevectorSampler` to raise an error if a circuit with c_if is passed
  qiskit/primitives/statevector_sampler.py
  releasenotes/notes/fix-statevector-sampler-c_if-9753f8f97a3d0ff5.yaml
  test/python/primitives/test_statevector_sampler.py
Labels: stable backport potential, Changelog: Bugfix, mod: primitives

#12195 Recreate full dag instead of inplace substitution in BasisTranslator
  qiskit/transpiler/passes/basis/basis_translator.py
Labels: stable backport potential, performance, Changelog: None

#12171 Expose Sabre heuristic configuration to Python
  crates/accelerate/src/sabre/heuristic.rs
  crates/accelerate/src/sabre/layer.rs
  crates/accelerate/src/sabre/layout.rs
  crates/accelerate/src/sabre/mod.rs
  crates/accelerate/src/sabre/route.rs
  qiskit/transpiler/passes/layout/sabre_layout.py
  qiskit/transpiler/passes/routing/sabre_swap.py
Labels: stable backport potential, Rust, mod: transpiler

#12784 Update metadata of Primitives V2
  qiskit/primitives/backend_estimator_v2.py
  qiskit/primitives/backend_sampler_v2.py
  qiskit/primitives/statevector_estimator.py
  qiskit/primitives/statevector_sampler.py
  releasenotes/notes/update-primitive-v2-metadata-cf1226e2d6477688.yaml
  test/python/primitives/test_backend_estimator_v2.py
  test/python/primitives/test_backend_sampler_v2.py
  test/python/primitives/test_statevector_estimator.py
  test/python/primitives/test_statevector_sampler.py
Labels: stable backport potential, Changelog: API Change, mod: primitives

#12858 Add 100q QV circuit to PGO scripts
  tools/pgo_scripts/test_utility_scale.py
Labels: type: qa, stable backport potential, Changelog: None

#12860 Make `ImportOneCell::new` method public.
  crates/circuit/src/imports.rs
Labels: Changelog: None, Rust

#12629 Deprecate BackendV1 and `qiskit.providers.models`
  qiskit/circuit/add_control.py
  qiskit/compiler/transpiler.py
  qiskit/providers/backend.py
  qiskit/providers/backend_compat.py
  qiskit/providers/basic_provider/basic_simulator.py
  qiskit/providers/fake_provider/fake_qasm_backend.py
  qiskit/providers/models/__init__.py
  qiskit/providers/models/backendconfiguration.py
  qiskit/providers/models/backendproperties.py
  qiskit/transpiler/preset_passmanagers/__init__.py
  qiskit/transpiler/preset_passmanagers/generate_preset_pass_manager.py
  qiskit/transpiler/target.py
  qiskit/utils/deprecation.py
  releasenotes/notes/backendv1-d0d0642ed38fed3c.yaml
  test/python/circuit/test_parameters.py
  test/python/circuit/test_scheduled_circuit.py
  test/python/compiler/test_sequencer.py
  test/python/compiler/test_transpiler.py
  test/python/primitives/test_backend_estimator_v2.py
  test/python/primitives/test_backend_sampler.py
  test/python/primitives/test_backend_sampler_v2.py
  test/python/providers/test_fake_backends.py
  test/python/providers/test_faulty_backend.py
  test/python/pulse/test_builder.py
  test/python/transpiler/test_calibrationbuilder.py
  test/python/transpiler/test_gates_in_basis_pass.py
  test/python/transpiler/test_passmanager_run.py
  test/python/transpiler/test_preset_passmanagers.py
  test/python/transpiler/test_pulse_gate_pass.py
  test/python/transpiler/test_sabre_layout.py
  test/python/transpiler/test_sabre_swap.py
  test/python/transpiler/test_unitary_synthesis.py
  test/python/transpiler/test_vf2_post_layout.py
  test/python/visualization/test_circuit_latex.py
  test/utils/base.py
Labels: priority: high, stable backport potential, Changelog: Deprecation

#12869 Fix ``AnnotatedOperation`` being modified during parameter assignment
  qiskit/circuit/annotated_operation.py
  test/python/circuit/test_annotated_operation.py
Labels: stable backport potential, Changelog: None

#12871 Revert base class change introduced in Primitives V1 deprecation
  qiskit/primitives/backend_estimator.py
  qiskit/primitives/backend_sampler.py
  qiskit/primitives/estimator.py
  qiskit/primitives/sampler.py
Labels: stable backport potential, Changelog: None, mod: primitives

#12826 Avoid operator creation in transpiler
  crates/circuit/src/circuit_instruction.rs
  crates/circuit/src/dag_node.rs
  crates/circuit/src/imports.rs
  crates/circuit/src/operations.rs
  crates/circuit/src/packed_instruction.rs
  qiskit/circuit/commutation_checker.py
  qiskit/dagcircuit/dagcircuit.py
  qiskit/transpiler/passes/basis/basis_translator.py
  qiskit/transpiler/passes/layout/apply_layout.py
  qiskit/transpiler/passes/layout/vf2_utils.py
  qiskit/transpiler/passes/routing/sabre_swap.py
  qiskit/transpiler/passes/synthesis/high_level_synthesis.py
  qiskit/transpiler/passes/utils/check_map.py
  qiskit/transpiler/passes/utils/convert_conditions_to_if_ops.py
  qiskit/transpiler/passes/utils/gates_basis.py
  qiskit/transpiler/preset_passmanagers/common.py
  releasenotes/notes/avoid-op-creation-804c0bed6c408911.yaml
Labels: Changelog: New Feature, mod: transpiler
