Repository Qiskit/qiskit, pull requests merged in 2025-09, with the labels that each got.

#14751 C API: Burn `ConsolidateBlocks`
  crates/cext/src/transpiler/passes/consolidate_blocks.rs
  crates/cext/src/transpiler/passes/mod.rs
  releasenotes/notes/c-api-consolidate-blocks-a1248e1f01cf1736.yaml
  test/c/test_consolidate_blocks.c
Labels: Changelog: New Feature, mod: transpiler, C API

#14779 Add `QuantumCircuit.ensure_physical`
  crates/circuit/src/circuit_data.rs
  crates/circuit/src/dag_circuit.rs
  qiskit/circuit/__init__.py
  qiskit/circuit/quantumcircuit.py
  releasenotes/notes/dag-make-physical-83c9ee2728528224.yaml
  test/python/circuit/test_circuit_operations.py
Labels: documentation, Changelog: New Feature, mod: circuit

#14874 C API: Burn `BasisTranslator`
  crates/cext/src/transpiler/passes/basis_translator.rs
  crates/cext/src/transpiler/passes/mod.rs
  releasenotes/notes/c-api-basis-translator-fd3b1a8d30011f2c.yaml
  test/c/test_basis_translator.c
Labels: Changelog: New Feature, mod: transpiler, experimental, C API

#14872 Run `VF2Layout` benchmarks without max-trials bounds
  test/benchmarks/vf2.py
Labels: type: qa, Changelog: None

#14856 Add on-the-fly score pruning to VF2
  crates/circuit/src/dag_circuit.rs
  crates/circuit/src/vf2.rs
  crates/transpiler/src/passes/vf2/vf2_layout.rs
Labels: mod: transpiler

#14601 Create option for measures without arrows in mpl and text circuit drawers
  qiskit/circuit/quantumcircuit.py
  qiskit/user_config.py
  qiskit/visualization/circuit/_utils.py
  qiskit/visualization/circuit/circuit_visualization.py
  qiskit/visualization/circuit/matplotlib.py
  qiskit/visualization/circuit/text.py
  releasenotes/notes/add-measure_arrows-option-to-drawers-4d30c3fabdc772c3.yaml
  test/python/visualization/test_circuit_text_drawer.py
  test/visual/mpl/circuit/references/measure_arrows_false.png
  test/visual/mpl/circuit/test_circuit_matplotlib_drawer.py
Labels: Changelog: New Feature, mod: visualization

#14846 Add to_pauli and to_pauli_list conversion methods to qubit-sparse pauli classes
  crates/quantum_info/src/lib.rs
  crates/quantum_info/src/pauli_lindblad_map/phased_qubit_sparse_pauli.rs
  crates/quantum_info/src/pauli_lindblad_map/qubit_sparse_pauli.rs
  releasenotes/notes/add-sparse-pauli-conversion-methods-0eee4738fd1ad5f0.yaml
  test/python/quantum_info/test_phased_qubit_sparse_pauli.py
  test/python/quantum_info/test_qubit_sparse_pauli.py
Labels: Changelog: New Feature, mod: quantum info, mod: primitives

#14106 Add ``qk_obs_apply_layout`` to apply layouts to ``QkObs``
  crates/cext/Cargo.toml
  crates/cext/src/exit_codes.rs
  crates/cext/src/sparse_observable.rs
  crates/quantum_info/src/sparse_observable/mod.rs
  releasenotes/notes/qk-obs-apply-layot-6d784fa34c18dc1e.yaml
  test/c/test_sparse_observable.c
Labels: Changelog: New Feature, C API

#14984 Fix register aliasing of qubits in Rust-defined circuits
  qiskit/circuit/library/iqp.py
  qiskit/circuit/library/n_local/evolved_operator_ansatz.py
  qiskit/circuit/library/n_local/n_local.py
  qiskit/circuit/library/standard_gates/dcx.py
  qiskit/circuit/library/standard_gates/ecr.py
  qiskit/circuit/library/standard_gates/global_phase.py
  qiskit/circuit/library/standard_gates/h.py
  qiskit/circuit/library/standard_gates/iswap.py
  qiskit/circuit/library/standard_gates/p.py
  qiskit/circuit/library/standard_gates/r.py
  qiskit/circuit/library/standard_gates/rx.py
  qiskit/circuit/library/standard_gates/rxx.py
  qiskit/circuit/library/standard_gates/ry.py
  qiskit/circuit/library/standard_gates/ryy.py
  qiskit/circuit/library/standard_gates/rz.py
  qiskit/circuit/library/standard_gates/rzx.py
  qiskit/circuit/library/standard_gates/rzz.py
  qiskit/circuit/library/standard_gates/s.py
  qiskit/circuit/library/standard_gates/swap.py
  qiskit/circuit/library/standard_gates/sx.py
  qiskit/circuit/library/standard_gates/t.py
  qiskit/circuit/library/standard_gates/u.py
  qiskit/circuit/library/standard_gates/u1.py
  qiskit/circuit/library/standard_gates/u2.py
  qiskit/circuit/library/standard_gates/u3.py
  qiskit/circuit/library/standard_gates/x.py
  qiskit/circuit/library/standard_gates/xx_minus_yy.py
  qiskit/circuit/library/standard_gates/xx_plus_yy.py
  qiskit/circuit/library/standard_gates/y.py
  qiskit/circuit/library/standard_gates/z.py
  qiskit/circuit/quantumcircuit.py
  qiskit/synthesis/clifford/clifford_decompose_bm.py
  qiskit/synthesis/clifford/clifford_decompose_greedy.py
  qiskit/synthesis/discrete_basis/solovay_kitaev.py
  qiskit/synthesis/evolution/pauli_network.py
  qiskit/synthesis/evolution/product_formula.py
  qiskit/synthesis/linear/cnot_synth.py
  qiskit/synthesis/linear/linear_depth_lnn.py
  qiskit/synthesis/linear_phase/cx_cz_depth_lnn.py
  qiskit/synthesis/linear_phase/cz_depth_lnn.py
  qiskit/synthesis/one_qubit/one_qubit_decompose.py
  qiskit/synthesis/permutation/permutation_full.py
  qiskit/synthesis/permutation/permutation_lnn.py
  qiskit/synthesis/permutation/permutation_reverse_lnn.py
  qiskit/synthesis/qft/qft_decompose_lnn.py
  qiskit/synthesis/two_qubit/two_qubit_decompose.py
Labels: Changelog: None

#14697 Swap to explicit "development" version on `main`
  .mergify.yml
  Cargo.lock
  Cargo.toml
  MAINTAINING.md
  crates/cext/cbindgen.toml
  docs/conf.py
  qiskit/VERSION.txt
  qiskit/version.py
  test/c/test_version_info.c
  test/qpy_compat/test_qpy.py
Labels: type: qa, priority: high, Changelog: None

#14858 Make VF2 fully generic over index types and semantics
  crates/circuit/src/dag_circuit.rs
  crates/circuit/src/vf2.rs
  crates/transpiler/src/passes/vf2/vf2_layout.rs
  test/python/transpiler/test_sabre_layout.py
Labels: mod: transpiler

#12113 fix: `Statevector.to_dict(decimals= 3)` does not round results and ignores the `decimals` keyword
  qiskit/quantum_info/states/quantum_state.py
  releasenotes/notes/fix_to_dict_decimals-2f0d3bb865fb09a9.yaml
  test/python/quantum_info/states/test_statevector.py
Labels: Changelog: Bugfix, mod: quantum info, Community PR

#15003 Use QSD from rust in default unitary synthesis plugin
  crates/cext/src/transpiler/passes/unitary_synthesis.rs
  crates/transpiler/src/passes/unitary_synthesis.rs
  crates/transpiler/src/transpiler.rs
  releasenotes/notes/multiq-unitary-synth-c-2a282071b8c08c07.yaml
  test/c/test_unitary_synthesis.c
Labels: performance, Changelog: New Feature, synthesis, Rust, mod: transpiler, C API

#15034 Fix global phase handling in unitary_sim
  crates/quantum_info/src/unitary_sim.rs
Labels: Changelog: None, Rust

#15068 Lower limits on `VF2PostLayout` in exact mode
  qiskit/transpiler/preset_passmanagers/builtin_plugins.py
  qiskit/transpiler/preset_passmanagers/common.py
  releasenotes/notes/reduce-vf2post-limits-6a6ff25491f8ac4f.yaml
Labels: stable backport potential, performance, Changelog: API Change, mod: transpiler

#15074 Fix pickling of SabreSwap
  crates/transpiler/src/passes/sabre/neighbors.rs
  crates/transpiler/src/passes/sabre/route.rs
  releasenotes/notes/fix-sabre-swap-pickle-a1215f58853f81d1.yaml
  test/python/transpiler/test_sabre_swap.py
Labels: stable backport potential, Changelog: Bugfix

#15079 Fix circuit classical cross-references
  qiskit/circuit/classical/expr/constructors.py
Labels: documentation, stable backport potential, Changelog: None

#15041 Drop macOS x86_64 to tier 2
  .github/workflows/ctests.yml
  .github/workflows/on-merge-queue.yml
  .github/workflows/on-nightly.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/wheels-build.yml
  pyproject.toml
  releasenotes/notes/macos-x86_64-tier-2-023a00d34984665f.yaml
Labels: type: qa, Changelog: API Change, ci: test wheels

#15094 Add rustfmt style edition 2024 commit to blame ignore
  .git-blame-ignore-revs
Labels: Changelog: None
