Repository Qiskit/qiskit, pull requests merged in 2025-08, with the labels that each got.

#14717 Add RemoveIdentityEquiv to the C API
  crates/cext/src/transpiler/passes/mod.rs
  crates/cext/src/transpiler/passes/remove_identity_equiv.rs
  releasenotes/notes/add-remove-identity-equiv-c-4bc4354c54531156.yaml
  test/c/test_remove_identity_equiv.c
Labels: Changelog: New Feature, mod: transpiler, C API

#14654 Multi circui new
  qiskit/passmanager/passmanager.py
  qiskit/transpiler/passmanager.py
  releasenotes/notes/fix-callback-multi-circuits-f8444aef40c7bd89.yaml
  test/python/transpiler/test_passmanager.py
Labels: stable backport potential, Changelog: Bugfix

#14664 Fully port ALAPScheduleAnalysis to Rust
  crates/pyext/src/lib.rs
  crates/transpiler/src/passes/alap_schedule_analysis.rs
  crates/transpiler/src/passes/mod.rs
  qiskit/__init__.py
  qiskit/transpiler/passes/scheduling/scheduling/alap.py
  test/benchmarks/passes.py
Labels: Changelog: None, Rust, Intern PR, mod: transpiler

#14746 Unitary simulator in Rust
  crates/pyext/src/lib.rs
  crates/quantum_info/src/lib.rs
  crates/quantum_info/src/unitary_sim.rs
  test/python/quantum_info/operators/test_operator.py
Labels: type: qa, Changelog: None, Rust

#14629 Adjust pulse optimal cx two qubit decomposer to avoid RZ(0)
  crates/synthesis/src/two_qubit_decompose.rs
  test/python/synthesis/test_synthesis.py
Labels: performance, Changelog: None

#14732 Add Python free path to unitary synthesis rust function
  crates/circuit/src/dag_circuit.rs
  crates/circuit/src/operations.rs
  crates/transpiler/src/passes/inverse_cancellation.rs
  crates/transpiler/src/passes/unitary_synthesis.rs
Labels: Changelog: None, Rust, mod: transpiler, C API

#14666 Add the MCX synthesis algorithm by Huang and Palsberg
  crates/synthesis/src/multi_controlled/mcx.rs
  crates/synthesis/src/multi_controlled/mod.rs
  pyproject.toml
  qiskit/synthesis/__init__.py
  qiskit/synthesis/multi_controlled/__init__.py
  qiskit/synthesis/multi_controlled/mcx_synthesis.py
  qiskit/transpiler/passes/synthesis/hls_plugins.py
  releasenotes/notes/add-new-mcx-noaux-method-6f38c3cd3708df3c.yaml
  test/python/synthesis/test_multi_controlled_synthesis.py
  test/python/transpiler/test_high_level_synthesis.py
Labels: Changelog: New Feature, synthesis

#14803 Add Python free path to inverse_cancellation
  crates/circuit/src/dag_circuit.rs
  crates/transpiler/src/passes/inverse_cancellation.rs
  crates/transpiler/src/passes/mod.rs
  qiskit/transpiler/passes/optimization/inverse_cancellation.py
  qiskit/transpiler/preset_passmanagers/builtin_plugins.py
  releasenotes/notes/inverse_cancellation_no_python_path-6b0f254a649d2af2.yaml
  test/python/transpiler/test_inverse_cancellation.py
Labels: performance, Changelog: New Feature, Rust, mod: transpiler, C API

#14842 Add Target::add_instruction() check for number of params
  crates/transpiler/src/target/errors.rs
  crates/transpiler/src/target/mod.rs
Labels: Changelog: None, Rust, mod: transpiler

#14235 Add benchmarks for VF2Layout
  test/benchmarks/vf2.py
Labels: type: qa, Changelog: None

#14781 Document missing passes in `qiskit.transpiler.passes`
  qiskit/transpiler/passes/__init__.py
Labels: documentation, stable backport potential, Changelog: None

#14851 Address C API documentation issues
  crates/cext/src/circuit.rs
  crates/cext/src/sparse_observable.rs
  crates/cext/src/transpiler/passes/elide_permutations.rs
  crates/cext/src/transpiler/passes/remove_identity_equiv.rs
  crates/cext/src/transpiler/passes/vf2.rs
  crates/cext/src/transpiler/target.rs
  docs/cdoc/qk-circuit.rst
  docs/cdoc/qk-classical-register.rst
  docs/cdoc/qk-complex64.rst
  docs/cdoc/qk-obs.rst
  docs/cdoc/qk-quantum-register.rst
  docs/cdoc/qk-target-entry.rst
  docs/cdoc/qk-target.rst
Labels: documentation, stable backport potential, Changelog: None

#14766 Add public, py-less, `substitute_node_with_dag` to DAGCircuit
  crates/circuit/src/dag_circuit.rs
  crates/transpiler/src/passes/basis_translator/compose_transforms.rs
  crates/transpiler/src/passes/gate_direction.rs
Labels: Changelog: None, Rust

#14888 Fixing failing CI tests after Rustworkx 0.17 release
  test/python/transpiler/test_high_level_synthesis.py
  test/python/transpiler/test_layout_transformation.py
Labels: type: qa, stable backport potential, Changelog: None

#14868 Add `drop_qubits` method to `PauliLindbladMap`
  crates/quantum_info/src/pauli_lindblad_map/pauli_lindblad_map_class.rs
  releasenotes/notes/add-pauli-lindblad-map-drop-qubits-0f8b5338e6d88ecd.yaml
  test/python/quantum_info/test_pauli_lindblad_map.py
Labels: Changelog: New Feature, mod: quantum info, mod: primitives

#14236 Flatten `vf2` module structure
  crates/circuit/src/dag_circuit.rs
  crates/circuit/src/lib.rs
  crates/circuit/src/rustworkx_core_vnext.rs
  crates/circuit/src/vf2.rs
  crates/transpiler/src/passes/vf2/vf2_layout.rs
Labels: type: qa, Changelog: None, Rust

#14762 Add structural equality check for `DAGCircuit`
  crates/circuit/src/dag_circuit.rs
  crates/circuit/src/object_registry.rs
  crates/circuit/src/register_data.rs
  releasenotes/notes/dag-structural-equality-2618b4a2cb6486f1.yaml
  test/python/dagcircuit/test_dagcircuit.py
Labels: Changelog: New Feature, mod: transpiler

#14607 Collapse Sabre nodes with no routing implications
  crates/transpiler/src/passes/sabre/dag.rs
  crates/transpiler/src/passes/sabre/route.rs
  releasenotes/notes/sabre-compress-c23c89e00ee96516.yaml
  test/python/transpiler/test_sabre_layout.py
Labels: performance, Changelog: None, Rust, mod: transpiler

#14884 Fix memory leaks in `qk_circuit_get_instruction`.
  crates/cext/src/circuit.rs
  releasenotes/notes/fix-qk-get-inst-leak-bb2e2299814515c3.yaml
Labels: stable backport potential, Changelog: Bugfix, C API

#14731 Add `RemoveDiagonalGatesBeforeMeasure` to the C API
  crates/cext/src/transpiler/passes/mod.rs
  crates/cext/src/transpiler/passes/remove_diagonal_gates_before_measure.rs
  crates/transpiler/src/passes/remove_diagonal_gates_before_measure.rs
  releasenotes/notes/rm-diag-gates-before-meas-c-9bb9f2b5490cf0a2.yaml
  test/c/test_remove_diagonal_gates_before_measure.c
Labels: Changelog: New Feature, C API

#14588 Add a new 'ps' variant to `Duration` for picoseconds.
  crates/circuit/src/duration.rs
  crates/circuit/src/lib.rs
  qiskit/qasm3/exporter.py
  qiskit/qpy/__init__.py
  qiskit/qpy/binary_io/value.py
  qiskit/qpy/formats.py
  qiskit/qpy/type_keys.py
  releasenotes/notes/duration-ps-b6caf2f96e533f2a.yaml
  test/python/circuit/test_circuit_load_from_qpy.py
  test/python/circuit/test_delay.py
  test/python/compiler/test_transpiler.py
  test/python/qasm3/test_export.py
Labels: Changelog: New Feature, mod: circuit

#14763 Fix non-determinism in `CommutativeCancellation`
  crates/transpiler/src/passes/commutation_analysis.rs
  crates/transpiler/src/passes/commutation_cancellation.rs
  qiskit/transpiler/passes/optimization/commutative_cancellation.py
  releasenotes/notes/fix-commutation-nondeterminism-51b545db6f2f1e18.yaml
  test/python/transpiler/test_commutative_cancellation.py
Labels: Changelog: Bugfix, mod: transpiler

#14776 Decomposer extraction for Rust native `ConsolidateBlocks`
  crates/transpiler/src/passes/consolidate_blocks.rs
  crates/transpiler/src/passes/unitary_synthesis.rs
Labels: Changelog: None, Rust, mod: transpiler

#14816 Add Van rentergem modular adder (better CX counts)
  pyproject.toml
  qiskit/circuit/library/arithmetic/adders/adder.py
  qiskit/synthesis/__init__.py
  qiskit/synthesis/arithmetic/__init__.py
  qiskit/synthesis/arithmetic/adders/__init__.py
  qiskit/synthesis/arithmetic/adders/rv_ripple_carry_adder.py
  qiskit/synthesis/arithmetic/adders/vrg_modular_adder.py
  qiskit/transpiler/passes/synthesis/hls_plugins.py
  releasenotes/notes/VanRentergem_modular_adder-957957b56b8e57fb.yaml
  test/python/circuit/library/test_adders.py
  test/python/synthesis/test_adder_counts.py
Labels: synthesis, Community PR, fault tolerance

#14835 Port Unroll3qOrMore to Rust
  crates/pyext/src/lib.rs
  crates/transpiler/src/passes/mod.rs
  crates/transpiler/src/passes/unroll_3q_or_more.rs
  qiskit/__init__.py
  qiskit/transpiler/passes/basis/unroll_3q_or_more.py
Labels: performance, Changelog: None, Rust, mod: transpiler

#14924 Prepare 2.1.2 release
  Cargo.lock
  Cargo.toml
  crates/cext/cbindgen.toml
  docs/conf.py
  qiskit/VERSION.txt
  releasenotes/notes/2.1/expose-qk-complex64-3b0a134669b2def4.yaml
  releasenotes/notes/2.1/prepare-2.1.2-6c266c6ebf2380a5.yaml
  releasenotes/notes/fix-ps-delay-convert-qasm-d9616204f73281ca.yaml
  releasenotes/notes/fix-qft-draw-47d95d1bb620005a.yaml
  releasenotes/notes/fix-qpy-message-bf1a1b0c7b78a038.yaml
Labels: Changelog: None

#14885 Add Python free path to CheckMap pass
  crates/circuit/src/dag_circuit.rs
  crates/transpiler/src/passes/check_map.rs
  crates/transpiler/src/target/mod.rs
  qiskit/transpiler/passes/utils/check_map.py
Labels: performance, Changelog: None, Rust

#14923 Cleanup ``DAGCircuit::new`` by removing ``PyResult``
  crates/circuit/src/dag_circuit.rs
  crates/synthesis/src/two_qubit_decompose.rs
  crates/transpiler/src/passes/basis_translator/compose_transforms.rs
  crates/transpiler/src/passes/disjoint_layout.rs
  crates/transpiler/src/passes/gate_direction.rs
  crates/transpiler/src/passes/split_2q_unitaries.rs
Labels: Changelog: None, Rust

#14780 Add TranspileLayout to the C API
  crates/cext/cbindgen.toml
  crates/cext/src/transpiler/mod.rs
  crates/cext/src/transpiler/transpile_layout.rs
  crates/circuit/src/nlayout.rs
  docs/cdoc/index.h
  docs/cdoc/index.rst
  docs/cdoc/qk-transpile-layout.rst
  releasenotes/notes/transpile_layout_c-baf633680b88a7bf.yaml
Labels: Changelog: New Feature, mod: transpiler, C API

#14921 Cleanup Rust interface for Target::get_non_global_operation_names()
  crates/transpiler/src/target/mod.rs
  qiskit/transpiler/target.py
Labels: Changelog: None, Rust, mod: transpiler

#14847 Make default path for DAGCircuit size and depth Python free
  crates/circuit/src/dag_circuit.rs
Labels: Changelog: None, Rust, mod: transpiler, C API

#14836 Move generation of Standard `EquivalenceLibrary` to Rust
  crates/transpiler/src/equivalence.rs
  crates/transpiler/src/lib.rs
  crates/transpiler/src/standard_equivalence_library.rs
  qiskit/circuit/library/standard_gates/equivalence_library.py
Labels: Changelog: None, Rust, mod: transpiler

#14933 Fix globbing in copyright-header lint script
  crates/cext/include/complex.h
  crates/cext/src/transpiler/passes/elide_permutations.rs
  crates/cext/src/transpiler/passes/mod.rs
  crates/circuit/src/classical/mod.rs
  crates/circuit/src/parameter/mod.rs
  tools/verify_headers.py
Labels: type: qa, Changelog: None

#14711 Add SabreLayout to the C API
  Cargo.lock
  crates/cext/Cargo.toml
  crates/cext/src/transpiler/passes/mod.rs
  crates/cext/src/transpiler/passes/sabre_layout.rs
  crates/transpiler/src/passes/sabre/mod.rs
  docs/cdoc/index.h
  docs/cdoc/index.rst
  docs/cdoc/qk-sabre-layout-options.rst
  test/c/common.c
  test/c/common.h
  test/c/test_sabre_layout.c
Labels: Changelog: New Feature, mod: transpiler, C API

#14938 Fix VF2 layout allocation with idle qubits
  qiskit/transpiler/passes/layout/vf2_layout.py
  qiskit/transpiler/passes/layout/vf2_post_layout.py
  qiskit/transpiler/passes/layout/vf2_utils.py
  releasenotes/notes/vf2-idle-qubits-65d8875b2fb67fe1.yaml
  test/python/transpiler/test_vf2_layout.py
  test/python/transpiler/test_vf2_post_layout.py
Labels: stable backport potential, Changelog: Bugfix, mod: transpiler

#14937 Set up C tests to fail upon warnings
  crates/cext/include/complex.h
  test/c/CMakeLists.txt
  test/c/common.c
  test/c/test_circuit.c
  test/c/test_elide_permutations.c
  test/c/test_remove_diagonal_gates_before_measure.c
  test/c/test_sabre_layout.c
  test/c/test_split_2q_unitaries.c
  test/c/test_target.c
  test/c/test_version_info.c
  test/c/test_vf2_layout.c
Labels: type: qa, Changelog: None, C API

#14944 Make cbindgen map usize to size_t
  crates/cext/cbindgen.toml
  crates/cext/src/sparse_observable.rs
  crates/cext/src/transpiler/passes/vf2.rs
  releasenotes/notes/cbindgen-usize-to-size_t-544294518fdfcbb0.yaml
Labels: Changelog: API Change, C API

#14840 Burn inverse cancellation
  crates/cext/src/transpiler/passes/inverse_cancellation.rs
  crates/cext/src/transpiler/passes/mod.rs
  releasenotes/notes/add-inverse-cancellation-to-c-5e48ba7ceff2e80c.yaml
  test/c/test_inverse_cancellation.c
Labels: Changelog: New Feature, mod: transpiler, C API

#14930 Fix: Memory leakage in `QkCountOps` creation.
  crates/cext/src/circuit.rs
  releasenotes/notes/c-api-ops-count-bug-f633d349de315e89.yaml
  test/c/test_circuit.c
  test/c/test_elide_permutations.c
  test/c/test_optimize_1q_sequences.c
  test/c/test_sabre_layout.c
  test/c/test_split_2q_unitaries.c
Labels: bug, stable backport potential, Changelog: Bugfix, mod: circuit, C API

#14956 Fix global phase handling in `CommutativeCancellation`
  crates/transpiler/src/passes/commutation_cancellation.rs
  releasenotes/notes/fix-commcanc-phase-f68fbb428363f081.yaml
  test/python/transpiler/test_commutative_cancellation.py
Labels: stable backport potential, Changelog: Bugfix

#14760 Transpile C API
  Cargo.lock
  crates/cext/cbindgen.toml
  crates/cext/src/exit_codes.rs
  crates/cext/src/transpiler/mod.rs
  crates/cext/src/transpiler/transpile_function.rs
  crates/cext/src/transpiler/transpile_layout.rs
  crates/circuit/src/dag_circuit.rs
  crates/transpiler/Cargo.toml
  crates/transpiler/src/lib.rs
  crates/transpiler/src/passes/apply_layout.rs
  crates/transpiler/src/passes/sabre/mod.rs
  crates/transpiler/src/passes/sabre/route.rs
  crates/transpiler/src/passes/vf2/vf2_layout.rs
  crates/transpiler/src/transpile_layout.rs
  crates/transpiler/src/transpiler.rs
  docs/cdoc/index.h
  docs/cdoc/index.rst
  docs/cdoc/qk-transpiler.rst
  releasenotes/notes/transpile-c-3d8005b1d67705c9.yaml
  test/c/test_transpiler.c
Labels: priority: high, Changelog: New Feature, C API

#14960 Prepare 2.2.0b1 release
  Cargo.lock
  Cargo.toml
  crates/cext/cbindgen.toml
  docs/conf.py
  qiskit/VERSION.txt
  test/c/test_version_info.c
Labels: priority: high, Changelog: None, ci: test wheels

#14831 Add CommutativeCancellation standalone transpiler pass to C API
  crates/cext/src/exit_codes.rs
  crates/cext/src/transpiler/passes/commutative_cancellation.rs
  crates/cext/src/transpiler/passes/mod.rs
  releasenotes/notes/commutative_cancellation_c-02659b099671c8cc.yaml
  test/c/test_commutative_cancellation.c
Labels: Changelog: New Feature, mod: transpiler, C API

#14965 Add custom `DAGCircuit.__deepcopy__` implementation
  crates/circuit/src/dag_circuit.rs
  crates/circuit/src/operations.rs
  crates/circuit/src/packed_instruction.rs
  releasenotes/notes/dag-deepcopy-db6e6823b0f5fb56.yaml
Labels: performance, mod: transpiler
