Repository Qiskit/qiskit, pull requests merged in 2025-07, with the labels that each got.

#14461 Fix future clippy issues
  crates/accelerate/src/circuit_duration.rs
  crates/accelerate/src/circuit_library/entanglement.rs
  crates/accelerate/src/circuit_library/iqp.rs
  crates/accelerate/src/circuit_library/parameter_ledger.rs
  crates/accelerate/src/circuit_library/pauli_feature_map.rs
  crates/accelerate/src/optimize_1q_gates.rs
  crates/cext/src/sparse_observable.rs
  crates/circuit/src/bit.rs
  crates/circuit/src/circuit_data.rs
  crates/circuit/src/circuit_instruction.rs
  crates/circuit/src/classical/expr/expr.rs
  crates/circuit/src/dag_circuit.rs
  crates/circuit/src/dot_utils.rs
  crates/circuit/src/duration.rs
  crates/circuit/src/object_registry.rs
  crates/circuit/src/operations.rs
  crates/circuit/src/packed_instruction.rs
  crates/circuit/src/register_data.rs
  crates/circuit/src/rustworkx_core_vnext.rs
  crates/circuit/src/slice.rs
  crates/circuit/src/symbol_expr.rs
  crates/circuit/src/symbol_parser.rs
  crates/qasm2/src/error.rs
  crates/qasm2/src/expr.rs
  crates/qasm2/src/lex.rs
  crates/qasm2/src/parse.rs
  crates/qasm3/src/ast.rs
  crates/qasm3/src/build.rs
  crates/qasm3/src/exporter.rs
  crates/qasm3/src/expr.rs
  crates/qasm3/src/lib.rs
  crates/qasm3/src/printer.rs
  crates/quantum_info/src/pauli_lindblad_map/pauli_lindblad_map_class.rs
  crates/quantum_info/src/pauli_lindblad_map/qubit_sparse_pauli.rs
  crates/quantum_info/src/sparse_observable/mod.rs
  crates/quantum_info/src/sparse_pauli_op.rs
  crates/quantum_info/src/unitary_compose.rs
  crates/synthesis/src/clifford/greedy_synthesis.rs
  crates/synthesis/src/clifford/utils.rs
  crates/synthesis/src/discrete_basis/math.rs
  crates/synthesis/src/linear/utils.rs
  crates/synthesis/src/permutation/utils.rs
  crates/synthesis/src/two_qubit_decompose.rs
  crates/transpiler/src/equivalence.rs
  crates/transpiler/src/passes/commutation_cancellation.rs
  crates/transpiler/src/target/mod.rs
Labels: Changelog: None, Rust

#14667 Restore correct max_trials behaviour for VF2Layout pass
  crates/transpiler/src/passes/vf2/vf2_layout.rs
  releasenotes/notes/fix-max-trials-vf2-1af00e09dd25a9a7.yaml
  test/python/transpiler/test_vf2_layout.py
Labels: stable backport potential, Changelog: Bugfix, mod: transpiler

#14705 Disable cron on old stable branch
  azure-pipelines.yml
Labels: type: qa, Changelog: None

#14668 Add VF2Layout standalone function to the C API
  Cargo.lock
  crates/accelerate/src/twirling.rs
  crates/cext/Cargo.toml
  crates/cext/cbindgen.toml
  crates/cext/src/transpiler/mod.rs
  crates/cext/src/transpiler/passes/mod.rs
  crates/cext/src/transpiler/passes/vf2.rs
  crates/circuit/src/converters.rs
  crates/circuit/src/dag_circuit.rs
  crates/transpiler/src/passes/basis_translator/compose_transforms.rs
  docs/cdoc/index.h
  docs/cdoc/index.rst
  docs/cdoc/qk-transpiler-passes.rst
  docs/cdoc/qk-vf2-layout-result.rst
  qiskit/transpiler/__init__.py
  releasenotes/notes/vf2_layout_c-33131d418cb41255.yaml
  test/c/test_vf2_layout.c
Labels: Changelog: New Feature, mod: transpiler, C API

#14736 Drop unused import in HighLevelSynthesis
  crates/transpiler/src/passes/high_level_synthesis.rs
Labels: type: qa, Changelog: None, Rust

#14650 Directly use PackedOperation for two qubit decomposers
  crates/synthesis/Cargo.toml
  crates/synthesis/src/two_qubit_decompose.rs
  crates/transpiler/Cargo.toml
  crates/transpiler/src/passes/high_level_synthesis.rs
  crates/transpiler/src/passes/unitary_synthesis.rs
  qiskit/synthesis/two_qubit/two_qubit_decompose.py
  qiskit/transpiler/passes/synthesis/default_unitary_synth_plugin.py
Labels: Changelog: None, synthesis, Rust

#14425 Fix simplify to sum duplicates before applying tolerance (#14194)
  qiskit/quantum_info/operators/symplectic/sparse_pauli_op.py
  releasenotes/notes/simplify-sparsepauliop-bugfix-969bf126671b9a84.yaml
  test/python/quantum_info/operators/symplectic/test_sparse_pauli_op.py
Labels: stable backport potential, Changelog: Bugfix, mod: quantum info

#14767 Fix IQFT drawing
  qiskit/synthesis/qft/qft_decompose_full.py
  releasenotes/notes/fix-qft-draw-47d95d1bb620005a.yaml
  test/python/circuit/library/test_qft.py
Labels: stable backport potential, Changelog: Bugfix

#14598 Remove doc inheritance from circuit library subclasses of QuantumCircuit
  docs/_templates/autosummary/class_no_inherited_members.rst
Labels: documentation, stable backport potential, Changelog: None

#14700 Port `InstructionDurationCheck` to Rust
  crates/circuit/src/dag_circuit.rs
  crates/pyext/src/lib.rs
  crates/transpiler/src/passes/instruction_duration_check.rs
  crates/transpiler/src/passes/mod.rs
  qiskit/__init__.py
  qiskit/transpiler/passes/scheduling/alignments/check_durations.py
Labels: Changelog: None, Rust, Intern PR, mod: transpiler

#14669 Remove Python dependency from ElidePermutations
  crates/transpiler/src/passes/elide_permutations.rs
Labels: Changelog: None, mod: transpiler, C API

#14748 Hide Python dependency in `ConsolidateBlocks`
  crates/quantum_info/src/convert_2q_block_matrix.rs
  crates/transpiler/src/passes/consolidate_blocks.rs
Labels: Changelog: None, Rust, mod: transpiler

#14708 Add ElidePermutations standalone function to the C API
  crates/cext/cbindgen.toml
  crates/cext/src/transpiler/passes/elide_permutations.rs
  crates/cext/src/transpiler/passes/mod.rs
  docs/cdoc/index.h
  docs/cdoc/index.rst
  docs/cdoc/qk-elide-permutations-result.rst
  test/c/test_elide_permutations.c
Labels: Changelog: New Feature, mod: transpiler, C API

#14808 Fix doc indents in parameter expression docs
  crates/circuit/src/parameter/parameter_expression.rs
Labels: documentation, Changelog: None, Rust
