Repository Qiskit/qiskit, changes with the owners that CODEOWNERS names for each.
All owners: @ewinston, @awcross1, @pacomf, @jaygambetta, @ismaelfaro, @chriseclectic, @amezzac

Tweaks and fixes for contributing.rst
  CONTRIBUTING.rst
Owners: none

Tweaks and fixes for contributing.rst
  CONTRIBUTING.rst
Owners: none

minor changes.
  qiskit/_quantumcircuit.py
  qiskit/dagcircuit/_dagcircuit.py
  qiskit/extensions/standard/header.py
Owners: none

Add "print" entry to gate data.
  qiskit/_quantumcircuit.py
  qiskit/dagcircuit/_dagcircuit.py
  qiskit/extensions/standard/header.py
Owners: none

revert change.
  qiskit/dagcircuit/_dagcircuit.py
Owners: none

update qiskit_simulator extension.
  qiskit/extensions/qiskit_simulator/load.py
  qiskit/extensions/qiskit_simulator/noise.py
  qiskit/extensions/qiskit_simulator/save.py
  qiskit/extensions/qiskit_simulator/uzz.py
  qiskit/extensions/qiskit_simulator/wait.py
Owners: none

Fix a bug in 'barrier' in .json().
  qiskit/dagcircuit/_dagcircuit.py
Owners: none

Removed deepcopy() in two places to greatly improve performance.
  qiskit/dagcircuit/_dagcircuit.py
  qiskit/unroll/_unroller.py
Owners: none

updated state_fidelity convention
  qiskit/tools/qi/qi.py
  test/python/test_qi.py
Owners: @chriseclectic

updated state_fidelity convention
  qiskit/tools/qi/qi.py
  test/python/test_qi.py
Owners: @chriseclectic

* Changed the way we set default values in CMake
  cmake/defaults.cmake
Owners: none

Fix static linking of the C++ Simulator (#282)
  cmake/defaults.cmake
  cmake/python-build.cmake
  setup.py.in
  src/qiskit-simulator/CMakeLists.txt
Owners: none

Fix static linking of the C++ Simulator (#282)
  cmake/defaults.cmake
  cmake/python-build.cmake
  setup.py.in
  src/qiskit-simulator/CMakeLists.txt
Owners: none

increased timeout in tomography test from 1 min to 3mins
  test/python/test_tomography.py
Owners: none

increased timeout in tomography test from 1 min to 3mins
  test/python/test_tomography.py
Owners: none

removing set_api from vqe benchmark
  test/performance/vqe.py
Owners: none

parametrizing vqe
  test/performance/vqe.py
Owners: none

fixing linter issues
  test/performance/vqe.py
Owners: none

adding LiH as another molecule for vqe test
  test/performance/LiH/LiHEquilibrium.txt
Owners: none

adding state_tomography performance benchmark
  test/performance/state_tomography.py
Owners: none

but fix in pauli addressing
  qiskit/tools/apps/optimization.py
Owners: @amezzac

but fix in pauli addressing
  qiskit/tools/apps/optimization.py
Owners: @amezzac

tests for _util.py
  test/python/common.py
  test/python/test_util.py
Owners: none

remove mock mess. KISS by reading the file directly.
  qiskit/_util.py
Owners: none

reformat
  test/python/test_util.py
Owners: none

no import necesary now
  qiskit/_util.py
Owners: none

added state tomography performance test. fixed a bug in initializer.
  qiskit/extensions/quantum_initializer/_initializer.py
  test/performance/state_tomography.py
  test/performance/vqe.py
Owners: none

collecting stats about number of circuits and their size
  test/performance/state_tomography.py
Owners: none

summary performance stats for vqe
  qiskit/tools/apps/optimization.py
  test/performance/state_tomography.py
  test/performance/vqe.py
Owners: @amezzac

Bumped to version: 0.4.9
  CMakeLists.txt
  qiskit/__init__.py
Owners: none

Bumped to version: 0.4.9
  CMakeLists.txt
  qiskit/__init__.py
Owners: none

Update optimization.py
  qiskit/tools/apps/optimization.py
Owners: @amezzac

Update optimization.py
  qiskit/tools/apps/optimization.py
Owners: @amezzac

bug fixing and msgs
  qiskit/_util.py
  requirements.txt
Owners: none

remove pylint header
  test/python/test_util.py
Owners: none

linting linting linting
  qiskit/_util.py
  requirements-dev.txt
  test/python/common.py
  test/python/test_util.py
Owners: none

comments from diego
  test/python/common.py
  test/python/test_util.py
Owners: none

linting
  test/python/test_util.py
Owners: none

Remove setuptools.setup mock (#286)
  qiskit/_util.py
  requirements-dev.txt
  requirements.txt
  test/python/common.py
  test/python/test_util.py
Owners: none

Remove setuptools.setup mock (#286)
  qiskit/_util.py
  requirements-dev.txt
  requirements.txt
  test/python/common.py
  test/python/test_util.py
Owners: none

CODEOWNERS:

# Where component owners are known, add them here.

qiskit/core/* @ewinston @awcross1 @pacomf @jaygambetta @ismaelfaro
qiskit/core/simulators/* @ewinston @chriseclectic
qiskit/doc/* @ewinston @pacomf

qiskit/tools/qcvv/* @chriseclectic
qiskit/tools/qi/* @chriseclectic
qiskit/tools/apps/* @amezzac

# other repository

qiskit-tutorial @ewinston @awcross1 @jaygambetta @amezzac
qiskit-api-py @pacomf
